[Unit]
Description=Bridge ALSA device to JACK as client ('%i')
StopWhenUnneeded=yes
DefaultDependencies=no
After=jackd.service
BindsTo=jackd.service

[Service]
Environment=JACK_PERIOD=128
Environment=JACK_NPERIODS=3
Environment=JACK_SAMPLE_RATE=48000

ExecCondition=/bin/sh -c "aplay -L | grep -q '${ALSA_DEVICE}'"
ExecStart=/usr/bin/alsa_out -v -c ${JACK_CLIENT_CHANNEL_COUNT} -j ${JACK_CLIENT_NAME} -d ${ALSA_DEVICE} -p ${JACK_PERIOD} -n ${JACK_NPERIODS} -r ${JACK_SAMPLE_RATE} -q 1

Restart=no

[Install]
WantedBy=jack_clients.target
