[Unit]
Description=ALSA-to-JACK output bridge for %i
Documentation=man:alsa_out(1)
StopWhenUnneeded=yes
DefaultDependencies=no
After=jackd.service
BindsTo=jackd.service

[Service]
EnvironmentFile=%h/.config/systemd/user/jack.env
ExecCondition=/bin/sh -c "aplay -L | grep -q '${ALSA_DEVICE}'"
ExecStart=/bin/sh -c 'exec /usr/bin/alsa_out -c ${JACK_CLIENT_CHANNEL_COUNT} -j ${JACK_CLIENT_NAME} -d ${ALSA_DEVICE} -p $(jack_bufsize) -n ${nperiods} -r $(jack_samplerate) -q 1'
Restart=no

[Install]
WantedBy=jack_clients.target
