# sudo visudo -f /etc/sudoers.d/audio_isolation

[Unit]
Description=Apply CPU and RT isolation for JACK audio
Documentation=file://%h/bin/audio_tuning.zsh
After = jackd.service
Requires = jackd.service

[Service]
Type=oneshot
ExecStart=%h/bin/audio_tuning.zsh set

[Install]
WantedBy=default.target
