[Unit]
Description = Audio full — all rack equipment powered and configured

Conflicts = speakers.service
Conflicts = audio-baseline.target

Wants = dante_usb_io.target

# After = dante_pcie_in_notify.service
After = dante_pcie_out.target
# After = dante_usb_in_notify.service
After = dante_usb_io_macbook.target
After = dante_usb_io.target
After = jack_volume@speakers_bus.service
After = jack_volume@linux_main.service
After = ferrofish-a32.target
After = microphone-monitoring.target
After = satellite-5059.target
After = shelford-channel.target
After = shure-p10t.target
After = wireless-audio@1.service
After = wireless-microphone.target

# Requires = dante_pcie_in_notify.service
Requires = dante_pcie_out.target
# Requires = dante_usb_in_notify.service
Requires = dante_usb_io_macbook.target
Requires = jack_volume@speakers_bus.service
Requires = jack_volume@linux_main.service
Requires = ferrofish-a32.target
Requires = jackd.service
Requires = microphone-monitoring.target
Requires = satellite-5059.target
Requires = shelford-channel.target
Requires = shure-p10t.target
Requires = wireless-audio@1.service
Requires = wireless-microphone.target

# BindsTo = dante_pcie_in_notify.service
BindsTo = dante_pcie_out.target
# BindsTo = dante_usb_in_notify.service
BindsTo = dante_usb_io_macbook.target
BindsTo = jack_volume@speakers_bus.service
BindsTo = jack_volume@linux_main.service
BindsTo = ferrofish-a32.target
After = jackd.service
BindsTo = microphone-monitoring.target
# BindsTo = satellite-5059.target
# BindsTo = shelford-channel.target
# BindsTo = shure-ad4d.target
# BindsTo = shure-p10t.target
BindsTo = wireless-audio@2.service
BindsTo = wireless-microphone.target

Wants = cpu-normal.service

[Install]
WantedBy=default.target
