
[Unit]

# Requires = radial_dinet_notify.service
# Requires = catia.service

Conflicts = speakers.service

Wants = cadence.service
Wants = catia.service
Wants = pavucontrol.service

Requires = dante_pcie_in_notify.service
Requires = dante_pcie_out_notify.service
Requires = dante_usb_in_notify.service
# Requires = dante_usb_out_notify.service
Requires = ecasound@jack.service
Requires = jackd.service
Requires = microphone.target
Requires = shelford-channel.target
# Requires = shure-ad4d.target
Requires = shure-p10t.target
Requires = wireless-audio@2.service
