[Unit]
Description=AVIO USB-2 (Macbook Personal) Device Configuration Target

# Device name: AVIOUSB-50cac5.local. -> avio-usb-2
Wants=dante-device-name@AVIOUSB-50cac5.local.\x2cavio-usb-2.service

# RX Channel names
Requires=dante-device-channel-name@avio-usb-2\x2crx\x2c1\x2cmic-mix-1.service
Requires=dante-device-channel-name@avio-usb-2\x2crx\x2c2\x2cmic-mix-2.service

# TX Channel names
Requires=dante-device-channel-name@avio-usb-2\x2ctx\x2c1\x2cmacbook-personal:left.service
Requires=dante-device-channel-name@avio-usb-2\x2ctx\x2c2\x2cmacbook-personal:right.service

# Subscriptions
Requires=dante-device-subscription@lx-dante\x2cmic-mix-high\x2cavio-usb-2\x2cmic-mix-1.service
Requires=dante-device-subscription@lx-dante\x2cmic-mix-high\x2cavio-usb-2\x2cmic-mix-2.service

[Install]
WantedBy=audio-baseline.target
