[Unit]
Description=Audinate AVIO USB-3 — USB-to-Dante adapter connected to work MacBook
Documentation=file://%h/bin/dante_device

# Device name: AVIOUSB-510295.local. -> avio-usb-3
Wants=dante-device-name@AVIOUSB-510295.local.\x2cavio-usb-3.service

# RX Channel names
Requires=dante-device-channel-name@avio-usb-3\x2crx\x2c1\x2cmic-mix-1.service
Requires=dante-device-channel-name@avio-usb-3\x2crx\x2c2\x2cmic-mix-2.service

# TX Channel names
Requires=dante-device-channel-name@avio-usb-3\x2ctx\x2c1\x2cmacbook-work:left.service
Requires=dante-device-channel-name@avio-usb-3\x2ctx\x2c2\x2cmacbook-work:right.service

# Subscriptions
Requires=dante-device-subscription@lx-dante\x2cmic-mix-high\x2cavio-usb-3\x2cmic-mix-1.service
Requires=dante-device-subscription@lx-dante\x2cmic-mix-high\x2cavio-usb-3\x2cmic-mix-2.service

[Install]
WantedBy=audio-baseline.target
