[Unit]
Description=Bluetooth AVIO with volume control
After=jackd.service
BindsTo=jackd.service

Requires=jack_volume@bluetooth.service
After=jack_volume@bluetooth.service

Requires=jack_connection@system.capture_21\x2cbluetooth_volume.in_1.target
Requires=jack_connection@system.capture_22\x2cbluetooth_volume.in_2.target
Requires=jack_connection@bluetooth_volume.out_1\x2cspeakers_bus_volume.in_1.target
Requires=jack_connection@bluetooth_volume.out_2\x2cspeakers_bus_volume.in_2.target
Requires=jack_connection@bluetooth_volume.out_1\x2clinux_main_volume.in_1.target
Requires=jack_connection@bluetooth_volume.out_2\x2clinux_main_volume.in_2.target

After=jack_connection@system.capture_21\x2cbluetooth_volume.in_1.target
After=jack_connection@system.capture_22\x2cbluetooth_volume.in_2.target
After=jack_connection@bluetooth_volume.out_1\x2cspeakers_bus_volume.in_1.target
After=jack_connection@bluetooth_volume.out_2\x2cspeakers_bus_volume.in_2.target
After=jack_connection@bluetooth_volume.out_1\x2clinux_main_volume.in_1.target
After=jack_connection@bluetooth_volume.out_2\x2clinux_main_volume.in_2.target
