[Unit]
Description=Btrfs free space monitor
Documentation=file://%h/bin/system_monitor

[Service]
Type=oneshot
ExecStart=%h/.local/bin/btrfs-monitor /media s00pcan@gmail.com --threshold 1.0 --cooldown 24
