[Unit]

Description = JACK toolbox for audio production

After = jackd.service
BindsTo = jackd.service

StopWhenUnneeded = no

[Service]

Environment = JACK_NO_START_SERVER=1
Environment = DISPLAY=:0

ExecStart = /usr/bin/cadence

KillMode = process
Nice = 19
Restart=no
RestartSec=6
Slice = audio.slice
TimeoutStartSec = 2s
TimeoutStopSec = 2s

[Install]
WantedBy = default.target
