
[Unit]

Description=JACK toolbox for audio production
Requires=sound.target graphical-session.target

[Service]

Nice=10

ExecStart=/usr/bin/cadence

KillMode=process
Restart=no
RestartSec=6
TimeoutStartSec=2s
TimeoutStopSec=2s
Slice = audio.slice

[Install]
WantedBy = default.target

