
[Unit]

After = jackd.service
Description=Catia jackd patchbay
# Requires = jackd.service
Requires=sound.target graphical-session.target

[Service]

Nice=10

ExecStart=/usr/bin/catia

KillMode=process
Restart=no
RestartSec=6
TimeoutStartSec=2s
TimeoutStopSec=2s
Slice = audio.slice

[Install]
WantedBy = default.target

