
[Unit]

Description=Catia jackd patchbay

After = jackd.service
Requires = jackd.service
Requires = sound.target graphical-session.target

[Service]

Environment = JACK_NO_START_SERVER=1
Nice = 19

ExecStart=/usr/bin/catia

KillMode=process
Restart = yes
RestartSec=6
TimeoutStartSec=2s
TimeoutStopSec=2s
Slice = audio.slice

[Install]
WantedBy = default.target
