
[Unit]
Conflicts=shutdown.target
Description=check mail
RefuseManualStart=no
RefuseManualStop=yes

[Service]
# ExecStart=/home/chris/.scripts/checkmail
ExecStart=/usr/bin/env mbsync -qqa
Type=oneshot

[Install]
WantedBy=default.target

