
[Unit]
Description=Check Mail every few minutes
RefuseManualStart=no
RefuseManualStop=no

[Timer]
OnBootSec=5min
OnUnitActiveSec=1min
Persistent=false
Unit=checkmail.service

[Install]
WantedBy=timers.target

