
[Unit]
Conflicts=shutdown.target
Description=check mail
RefuseManualStart=no
RefuseManualStop=yes

[Service]
ExecStart=/home/chris/.scripts/checkmail
Type=oneshot

