
[Unit]
After=default.target 
Description=check mail
RefuseManualStart=no
# RefuseManualStop=yes

[Service]
# ExecStart=/home/chris/.scripts/checkmail
ExecStart=/usr/bin/mbsync -qqa
# ExecStop=/usr/bin/zsh -c 'killall --quiet -9 mbsync || true'
TimeoutStopSec=1
Type=idle

