
[Unit]
Description=Check Mail
RefuseManualStart=no
RefuseManualStop=no

[Timer]
OnBootSec=5min
OnUnitActiveSec=45
Persistent=false
Unit=checkmail.service

[Install]
WantedBy=timers.target

