[Unit]

AssertFileIsExecutable = /usr/lib/chromium/chromium
BindsTo=graphical-session.target
Description = Chromium Web Browser
Documentation = man:chromium(1)
PartOf=graphical-session.target
RefuseManualStart = no
RefuseManualStop = no
ConditionEnvironment=DISPLAY

[Service]

Environment=LIBVA_DRI3_DISABLE=1
Environment=LIBVA_DRIVER_NAME=nvidia
Environment=GNOME_KEYRING_CONTROL=
# Environment=DISPLAY=:0
Environment=disk_cache_dir=--disk-cache-dir=%t/chromium
Environment=remote_debugging_port=9222
Environment=scale=--force-device-scale-factor='1.0'
Environment=user_data_dir=--user-data-dir=%h/.config/chromium
PrivateTmp=no
RemainAfterExit = no
Restart = no
RestartSec = 10
RuntimeDirectory = chromium
Slice = chromium.slice
TimeoutStartSec = 10
TimeoutStopSec = 10
Type = simple

ExecStart = /usr/bin/chromium \
# ${disk_cache_dir} \
${user_data_dir} \
${scale} \
--disable-features=ExtensionManifestV2Unsupported,ExtensionManifestV2Disabled \
--enable-features=WebUIDarkMode \
--force-dark-mode \
--keep-alive-for-test \
--password-store=basic \
--use-mock-keychain

# No longer working correctly; causes it to exit early
# --silent-launch

[Install]

DefaultInstance = default
WantedBy = xmonad.target
