
[Unit]

[Service]

Environment=DISPLAY=:0
Environment=app=--app='https://web.skype.com'
Environment=disk_cache_dir=--disk-cache-dir=%t/%p_%i
Environment=scale=--force-device-scale-factor='1.0'
Environment=user_data_dir=--user-data-dir='%h/.config/%p-apps/%i'

ExecStart = /usr/bin/chromium \
${disk_cache_dir} \
${user_data_dir} \
${app} \
${scale} \
--enable-dom-distiller \
--keep-alive-for-test

RuntimeDirectory = %p_%i
