[Unit]

Description=Clipboard sync
Documentation=file://%h/bin/clipboard_sync
After=network.target

[Service]

Environment = DISPLAY=:0
Restart=always
RestartSec=10
Type=simple

ExecStart=%h/.local/bin/clipboard-sync agent --redis-host 192.168.1.107

[Install]

WantedBy=default.target
