[Unit]
Description = Critical Listening Target for Music
Requires = mpd@music.service
Requires = music_direct_notify.service
Requires = critical_music.service
Conflicts = music_notify.service
After = mpd@music.service
After = music_direct_notify.service

[Install]
WantedBy = multi-user.target
