[Unit]
Description=Send command to Dante Manager %i
After=dante-manager.service
Requires=dante-manager.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'cd /home/chris/bin/dante_device && exec uv run python /home/chris/bin/dante_device/src/dante_device/__main__.py --mode manager %i'
Environment=PYTHONPATH=/home/chris/projects/netaudio/netaudio:/home/chris/bin/dante_device/src

[Install]
WantedBy=default.target