[Unit]
Description=Dante microphone output state
Documentation=file://%h/bin/dante_device
PartOf=microphone-monitoring.target
PartOf=shelford-channel.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/systemctl --user start dante-microphone-out-on.target
ExecStop=/usr/bin/systemctl --user start dante-microphone-out-off.target
