[Unit]
Description=Disable Dante microphone output subscriptions

After=ferrofish-a32.target
Requires=ferrofish-a32.target

Conflicts=dante-device-subscription@a32\x2cshelford\x2dchannel\x2ca32\x2csatellite\x2d08_desktop\x2dmic.service
Conflicts=dante-device-subscription@a32\x2cshelford\x2dchannel\x2ca32\x2csatellite\x2d16_desktop\x2dmic.service
Conflicts=dante-microphone-out-on.target

Requires=dante-device-disconnection@a32\x2cshelford\x2dchannel\x2ca32\x2csatellite\x2d08_desktop\x2dmic.service
Requires=dante-device-disconnection@a32\x2cshelford\x2dchannel\x2ca32\x2csatellite\x2d16_desktop\x2dmic.service

After=dante-device-disconnection@a32\x2cshelford\x2dchannel\x2ca32\x2csatellite\x2d08_desktop\x2dmic.service
After=dante-device-disconnection@a32\x2cshelford\x2dchannel\x2ca32\x2csatellite\x2d16_desktop\x2dmic.service
