[Unit]
Description=HDFury VRRoom HDMI audio off
Conflicts=dante-vrroom-out-on.target
Conflicts=dante-device-subscription@avio-aes3-1\x2cvrroom:left\x2clx-dante\x2cvrroom:left.target
Conflicts=dante-device-subscription@avio-aes3-1\x2cvrroom:right\x2clx-dante\x2cvrroom:right.target

[Install]
WantedBy=default.target
