[Unit]
Description=Dante device monitor: %i
Documentation=file://%h/bin/dante_device
After=network.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/dante-device --mode manager %i
Restart=no
NotifyAccess=main
TimeoutStartSec=0

MemoryAccounting=no
TasksAccounting=no

StandardOutput=journal
StandardError=journal
SyslogIdentifier=dante-device-%i

[Install]
WantedBy=default.target
