[Unit]

After = dante_pcie_out.target
After = ecasound@jack.service
BindsTo = dante_pcie_out.target
DefaultDependencies = no
Description = Dante output
Requires = ecasound@jack.service
Requires = jack_client@dante_pcie_out.service
StopWhenUnneeded = yes
Wants = dante_pcie_out.target

[Service]

RemainAfterExit=yes
RestartSec=2
TimeoutStopSec=2s
Slice = audio.slice

ExecStart = /usr/bin/true
