[Unit]
Description=Enable Dante AVIO Bluetooth JACK connections
After=jackd.service
BindsTo=jackd.service

After = jack_connection@system.capture_21\x2cjack_effects.in_1.service
After = jack_connection@system.capture_22\x2cjack_effects.in_2.service

Requires = jack_connection@system.capture_21\x2cjack_effects.in_1.service
Requires = jack_connection@system.capture_22\x2cjack_effects.in_2.service

StopWhenUnneeded=no
