[Unit]
Description=Dante sample rate: %i
Documentation=file://%h/bin/dante_device
After=dante-manager.service
Requires=dante-manager.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=%h/.local/bin/dante-device --mode manager "sample-rate:%i"

StandardOutput=journal
StandardError=journal
SyslogIdentifier=dante-device-sample-rate-%I

[Install]
WantedBy=default.target
