
[Unit]

# Before = jack_client@dante_in.service
# PartOf = microphone.target

After = xbox.service
After = xbox_chat.service
DefaultDependencies = no
Description = Dante input
Requires = jack_client@dante_in.service jackd.service
StopWhenUnneeded = yes

[Service]

RemainAfterExit = yes
RestartSec=2
Slice = audio.slice
TimeoutStopSec=2s

ExecStart = /usr/bin/true
