[Unit]
Description=Enforce Dante Device Name %i
After=dante-manager.service
Requires=dante-manager.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=%h/.local/bin/dante-device --mode manager "device-name:%i"
ExecStop=%h/.local/bin/dante-device --mode manager "remove-device-name:%i"

StandardOutput=journal
StandardError=journal
SyslogIdentifier=dante-device-name-%I

[Install]
WantedBy=default.target
