[Unit]
Description=Enforce Dante Device Subscription %i
After=dante-manager.service
Requires=dante-manager.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=%h/.local/bin/dante-device --mode manager "subscription:connect,%I"
ExecStartPost=/usr/bin/systemctl --user reload dante-manager.service
ExecStop=%h/.local/bin/dante-device --mode manager "subscription:disconnect,%I"
ExecStopPost=/usr/bin/systemctl --user reload dante-manager.service

StandardOutput=journal
StandardError=journal
SyslogIdentifier=dante-device-subscription-%I

[Install]
WantedBy=default.target
