[Unit]
Description=Dante manager command: %i
Documentation=file://%h/bin/dante_device
After=dante-manager.service
Requires=dante-manager.service

[Service]
Type=oneshot
ExecStart=%h/.local/bin/dante-device --mode manager %i

[Install]
WantedBy=default.target