[Unit]
Description=Enforce Dante Device Disconnection %i
After=dante-manager.service
Requires=dante-manager.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=%h/.local/bin/dante-device --mode manager "subscription:disconnect,%I"
ExecStartPost=/usr/bin/systemctl --user reload dante-manager.service

StandardOutput=journal
StandardError=journal
SyslogIdentifier=dante-device-disconnection-%I

[Install]
WantedBy=default.target
