[Unit]

# After = dante_pcie_in_notify.service
# After = radial_dinet_notify.service
After = xbox.service
After = xbox_chat.service

DefaultDependencies = no
Description = Dante input

After = jackd.service
BindsTo = jackd.service

StopWhenUnneeded = yes

[Service]

RemainAfterExit = yes
RestartSec=2
TimeoutStopSec=2s
Slice = audio.slice

ExecStart = /usr/bin/true
