[Unit]
Description=Dante VR Room Output Off (disconnect avio-aes3-1 → lx-dante stereo pair)
Conflicts=dante-vrroom-out-on.target

Wants=dante-device-disconnection@avio-aes3-1\x2cvrroom:left\x2clx-dante\x2cvrroom:left.service
Wants=dante-device-disconnection@avio-aes3-1\x2cvrroom:right\x2clx-dante\x2cvrroom:right.service

Conflicts=dante-device-subscription@avio-aes3-1\x2cvrroom:left\x2clx-dante\x2cvrroom:left.service
Conflicts=dante-device-subscription@avio-aes3-1\x2cvrroom:right\x2clx-dante\x2cvrroom:right.service

[Install]
WantedBy=default.target
