
[Unit]

# Before = jack_client@dante_in.service
# PartOf = microphone.target
# Requires = jack_client@dante_in.service jackd.service

After = dante_pcie_in_notify.service
After = radial_dinet_notify.service
After = skype_audio.service
After = xbox.service
After = xbox_chat.service
BindsTo = dante_pcie_in_notify.service
DefaultDependencies = no
Description = Dante input
Requires = jackd.service
StopWhenUnneeded = yes
Wants = dante_pcie_in_notify.service

[Service]

RemainAfterExit = yes
RestartSec=2
TimeoutStopSec=2s
Slice = audio.slice

ExecStart = /usr/bin/true
