
[Unit]

# Before = jack_client@dante_pcie_in.service
# Before = jack_client@dante_pcie_out.service
PartOf = microphone.service
BindsTo = microphone.service

StopWhenUnneeded = yes

[Service]

Environment = DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus
Environment = DISPLAY=:0
Nice = 19
NotifyAccess = all
RemainAfterExit = yes
Restart = no
RestartSec = 1
StartLimitBurst = 0
TimeoutStartSec = 20s
TimeoutStopSec = 20s
Type = notify

ExecStart = /usr/bin/node %h/home-control/dbus/dante_usb_io.js
