[Unit]

After = dante_pcie_out.target
BindsTo = dante_pcie_out.target
DefaultDependencies = no
Description = Dante PCIe output coordination
Documentation = man:jack_control(1)
Requires = jack_client@dante_pcie_out.service
StopWhenUnneeded = yes
Wants = dante_pcie_out.target

[Service]

RemainAfterExit=yes
RestartSec=2
TimeoutStopSec=2s
Slice = audio.slice

ExecStart = /usr/bin/true
