[Unit]
Description=Enforce Dante Device Subscription %i
After=network.target

[Service]
Type=notify
ExecStart=/bin/bash -c 'echo "Args: %I" && cd /home/chris/bin/dante_device && exec uv run python /home/chris/bin/dante_device/src/dante_device/__main__.py --mode assert-subscription %I'
Restart=no
Environment=PYTHONPATH=/home/chris/projects/netaudio/netaudio:/home/chris/bin/dante_device/src
NotifyAccess=all
TimeoutStartSec=0
WatchdogSec=0
TimeoutStopSec=10

MemoryAccounting=no
TasksAccounting=no

StandardOutput=journal
StandardError=journal
SyslogIdentifier=dante-device-subscription-%I

[Install]
WantedBy=default.target