
[Unit]
Conflicts=shutdown.target
Description=Deluge Daemon

[Service]
ExecStart=/usr/bin/deluged -d -P %h/.tmp/deluge/deluge.pid

[Install]
WantedBy=default.target

