[Unit]

Description = Discord
Requires = sound.target graphical-session.target
Wants = jack_client@discord.service
After = jack_client@discord.service
BindsTo = discord.target
StopWhenUnneeded = yes

[Service]
Nice = 19
IOSchedulingClass=idle

Environment = DISPLAY=:0
ExecStart = /usr/bin/discord
ExecStop = /usr/bin/killall -I -9 discord

KillMode=process
Restart=no
RestartSec=6
TimeoutStartSec=2s
TimeoutStopSec=2s

[Install]
WantedBy = default.target
