[Unit]
Description=Watch JACK over DBus to connect the default pulseaudio discord_in
After = jackd.service
BindsTo = jackd.service

# Wired mic
Requires=jack_connection@system.capture_4\x2cdiscord_in.front\x2dleft.service
Requires=jack_connection@system.capture_4\x2cdiscord_in.front\x2dright.service
After=jack_connection@system.capture_4\x2cdiscord_in.front\x2dleft.service
After=jack_connection@system.capture_4\x2cdiscord_in.front\x2dright.service

# Wireless mic
Requires=jack_connection@system.capture_2\x2cdiscord_in.front\x2dleft.service
Requires=jack_connection@system.capture_2\x2cdiscord_in.front\x2dright.service
After=jack_connection@system.capture_2\x2cdiscord_in.front\x2dleft.service
After=jack_connection@system.capture_2\x2cdiscord_in.front\x2dright.service
