
[Unit]

Description = Discord
Requires = sound.target graphical-session.target
# After = xbox_out.service
Wants = discord_notify.service
Wants = jack_client@discord.service
After = jack_client@discord.service

[Service]

Nice = 19

ExecStart = /usr/bin/discord
ExecStop = /usr/bin/killall -I -9 discord

KillMode=process
Restart=no
RestartSec=6
TimeoutStartSec=2s
TimeoutStopSec=2s

[Install]
WantedBy = default.target

