
[Unit]

Description = Ecasound effects
PartOf = jack.target
Requires = jackd.service
Requisite = jackd.service
StopWhenUnneeded = yes

AssertFileIsExecutable = /usr/bin/ecasound

[Service]
Restart = always
RestartSec = 10
TimeoutStartSec = 10
TimeoutStopSec = 10

CPUSchedulingPolicy=rr
CPUSchedulingPriority=90
LimitCORE=infinity
LimitMEMLOCK=infinity
LimitRTPRIO=infinity
LimitRTTIME=infinity
Nice=0
Slice = audio.slice

[Install]
WantedBy=default.target

