[Unit]
Description = ecasound %i effects
StopWhenUnneeded = yes
After = jackd.service
Wants = ecasound@jack.service

# After=jack_connection@jack_effects.out_1\x2cspeakers_effects.in_1.service
# After=jack_connection@jack_effects.out_2\x2cspeakers_effects.in_2.service

# Requires=jack_connection@jack_effects.out_1\x2cspeakers_effects.in_1.service
# Requires=jack_connection@jack_effects.out_2\x2cspeakers_effects.in_2.service

# After=jack_connection@speakers_effects.out_1\x2cspeakers.playback_1.service
# After=jack_connection@speakers_effects.out_2\x2cspeakers.playback_2.service

# Wants=jack_connection@speakers_effects.out_1\x2cspeakers.playback_1.service
# Wants=jack_connection@speakers_effects.out_2\x2cspeakers.playback_2.service

[Service]

CPUAffinity=1-4
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=90
CPUSchedulingResetOnFork=no

Environment = JACK_NO_START_SERVER=1
Environment = TERM=xterm

ExecStart = /usr/bin/ecasound -C -f:f32_le,2,48000 -G:jack,%i_effects -a:1 -i jack,,in -o jack,,out -a:1 -elv2:http://calf.sourceforge.net/plugins/SidechainCompressor,0,1,0,0,0,0,1.000000,20,0.01,2000,1,8,0,1,1,0,250,4500,1,1,0,0,0,0,1,1

[Install]
WantedBy=jack_clients.target
