
[Unit]

Description = Ecasound effects
StopWhenUnneeded = yes

# PartOf = jack.target
# Requires = jackd.service
# Requisite = jackd.service

AssertFileIsExecutable = /usr/bin/ecasound

[Service]
Restart = always
RestartSec = 10
TimeoutStartSec = 50s
TimeoutStopSec = 10

CPUSchedulingPolicy=rr
CPUSchedulingPriority=90
LimitCORE=infinity
LimitMEMLOCK=infinity
LimitRTPRIO=infinity
LimitRTTIME=infinity
# Nice=0
Slice = audio.slice

[Install]
WantedBy=default.target

