
[Unit]

# BindsTo = xbox_out.service
After = ecasound@jack.service
After = mpv.service
Description = ecasound %i effects
Requires = ecasound@jack.service
Requires = jackd.service
# Requires = mpv.service
# Requisite = mpv.service
StopWhenUnneeded = no

[Service]

Environment = TERM=xterm
# ExecStart = /usr/bin/zsh -ic "ecasound -C -f:f32_le,2,48000 -G:jack,%i_effects -a:1,2 -i jack,,in -o jack,,out -a:1 -elv2:http://calf.sourceforge.net/plugins/Compressor,0,1,0,0,0,1,1,0,0,0,0,0.0625,0.1,1000,1,1,0,0.5,1 -a:2 -elv2:http://calf.sourceforge.net/plugins/Limiter,0,1,0,0,0,0,0.0544094,20,0.01,2000,1,1,0,0,1,1"
ExecStart = /usr/bin/zsh -ic "ecasound -C -f:f32_le,2,48000 -G:jack,%i_effects -a:1,2 -i jack,,in -o jack,,out -a:1 -elv2:http://calf.sourceforge.net/plugins/Compressor,0,1,0,0,0,0,0.095625,20,0.01,2000,1,1,0,0,1,1 -a:2 -elv2:http://calf.sourceforge.net/plugins/Limiter,0,1,0.487231,0,0,0,0,0,0,0,0,0.0625,0.1,1000,1,1,0,0.5,4"

# ExecStart = /usr/bin/zsh -ic "ecasound -C -f:f32_le,2,48000 -G:jack,%i_effects -a:1,2 -i jack,,in -o jack,,out -a:1 -elv2:http://calf.sourceforge.net/plugins/Compressor,0,1,0,0,0,0,0.015625,20,0.01,2000,1,1,0,0,1,1 -a:2 -elv2:http://calf.sourceforge.net/plugins/Limiter,0,1,0.587231,0,0,0,0,0,0,0,0,0.0625,0.1,1000,1,1,0,0.5,4"
# C 0,1,0,0,0,0,0.0544094,20,0.01,2000,1,1,0,0,1,1
# L 0,1,0.202501,0,0,1,1,0,0,0,0,0.0625,0.1,1000,1,1,0,0.5,1

[Install]
WantedBy=jack_clients.target

