[Unit]

Description = ecasound %i effects
StopWhenUnneeded = yes

After = ecasound@jack.service
After = jackd.service
Requires = ecasound@jack.service
BindsTo = jackd.service

[Service]

Environment = JACK_NO_START_SERVER=1
Environment = TERM=xterm

# Volume needs to be lower
ExecStart = /usr/bin/zsh -ic "ecasound -C -f:f32_le,2,48000 -G:jack,%i_effects -a:1 -i jack,,in -o jack,,out -a:1 -elv2:http://calf.sourceforge.net/plugins/SidechainCompressor,0,1,0,0,0,0,1.000000,20,0.01,2000,1,8,0,1,1,0,250,4500,1,1,0,0,0,0,1,1"

[Install]
WantedBy=jack_clients.target
