[Unit]
Description=Emacs shutdown — saves org-clock and buffers
Documentation=man:emacsclient(1)
Before=shutdown.target reboot.target halt.target poweroff.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/bin/emacsclient -a "" --eval "(progn (org-clock-out) (save-some-buffers t nil))" 1>/dev/null

[Install]
WantedBy=halt.target poweroff.target reboot.target
