
[Unit]
Conflicts=shutdown.target
Description=Emacs; a text-editor

[Service]
ExecStart=/usr/bin/emacs --daemon
ExecStop=/usr/bin/emacsclient --eval "(setq kill-emacs-hook 'nil (kill-emacs))"
Restart=always
Type=forking

[Install]
WantedBy=default.target

