
[Unit]

Description = Etherium miner for %i
StopWhenUnneeded = no

[Service]

EnvironmentFile=/home/chris/.config/systemd/user/secrets.env
Environment = hostname=us1.ethermine.org
Environment = port=5555
Environment = exec_path=/mnt/c/Users/chris/Downloads/ethminer-0.19.0-alpha.0-cuda10.0-windows-amd64/bin/ethminer.exe

ExecStart=/usr/bin/ssh %i '/mnt/c/Users/chris/Downloads/ethminer-0.19.0-alpha.0-cuda10.0-windows-amd64/bin/ethminer.exe -U --report-hashrate -P stratum1+ssl://${ETHEREUM_WALLET}.${ETHEREUM_WORKER_2}@${hostname}:${port}'
ExecStop=-/bin/kill -9 $MAINPID

KillMode=process
Restart=always
RestartSec=6
TimeoutStartSec=2s
TimeoutStopSec=2s

[Install]
WantedBy = default.target
