[Unit]
Description=Ferrofish A32 Dante
Requires=ferrofish-a32.service
After=ferrofish-a32.service
BindsTo=ferrofish-a32.service
PartOf=wireless-audio@1.service
PartOf=wireless-audio@2.service
