[Unit]
DefaultDependencies=no
Description=HDMI input %i — HDFury VRRoom HDMI switcher
Documentation=file://%h/bin/hdfury_vrroom

[Service]
ExecStart=%h/.local/bin/surface video hdmi hdfury vrroom input set %i --tx 0
RemainAfterExit=yes
TimeoutStartSec=10
TimeoutStopSec=3
Type=oneshot

[Install]
WantedBy=default.target
