[Unit]
Description=HDMI input detection
Documentation=file://%h/bin/hdfury_vrroom

[Service]
Type=notify
ExecStart=%h/.local/bin/vrroom systemd watch
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
