[Unit]
DefaultDependencies=no
Description=HDFury VRRoom HDMI switcher - set input to %i

[Service]
ExecStart=/home/chris/.local/bin/vrroom input set %i --tx 0
RemainAfterExit=yes
TimeoutStartSec=10
TimeoutStopSec=3
Type=oneshot

[Install]
WantedBy=default.target
