
[Unit]

# After=graphical-session.target
# Wants=graphical-session.target

# After=dev-hhkb.device
# Before=hhkb.service
# PropagatesReloadTo=hhkb.timer

Description=Happy Hacking Keyboard is attached
PropagatesReloadTo=hhkb.service
# Wants=dev-hhkb.device
Requires=hhkb.service

