
[Unit]
Description=Happy Hacking Keyboard

[Service]
Environment=DISPLAY=:0
ExecStart=/home/chris/.scripts/hhkb
RestartSec=1
Type=simple

[Install]
WantedBy=multi-user.target

