
[Unit]

# After=dev-hhkb.device

# Requires=dev-hhkb.device

# After=graphical-session.target
# DefaultDependencies=no
# Requisite=dev-hhkb.device
# Requisite=graphical-session.target
Description=keyboard settings
PartOf=dev-hhkb.device
BindsTo=hhkb.target
# PartOf=hhkb.target
RefuseManualStart=yes
RefuseManualStop=yes
StopWhenUnneeded=yes

[Timer]
OnUnitActiveSec=3
RemainAfterElapse=no
RandomizedDelaySec=30

[Install]

WantedBy=timers.target

