
[Unit]

After=dev-hhkb.device
After=hhkb.timer
BindsTo=dev-hhkb.device
DefaultDependencies=no
Description=Happy Hacking Keyboard
Requires=dev-hhkb.device
Requires=hhkb.timer
StopWhenUnneeded=on

[Service]

# ExecStartPre=/usr/bin/sleep 0.5
ExecStart=/usr/bin/xset r rate 200 120
RemainAfterExit=yes
TimeoutStopSec=2
Type=idle

