
[Unit]
Conflicts=shutdown.target
Description=Respond to IR remote buttons

[Service]
Environment=LIRC_SOCKET_PATH=/var/run/lirc/lircd
ExecStart=/usr/local/bin/irexec --daemon /home/chris/.lircrc
ExecStop=/usr/bin/killall irexec
Restart=always
Type=forking
WorkingDirectory=/home/chris/

[Install]
WantedBy=default.target

