[Unit]

After = basic.target
After = dante_pcie_out.service
After = sound.target
Description = Dante PCIe playback — JACK to LX-Dante output bridge
Documentation=man:alsa_out(1)
Requires = basic.target
Requires = jackd.service
Requires = sound.target
StopWhenUnneeded = no
Wants = dante_pcie_out.target

[Service]

#zita-j2a caps out at 66 channels, alsa_out at 99

# ExecStart = /usr/bin/alsa_out -r 48000 -c 16 -p 64 -j '%i' -d asym_dante0
# ExecStart = /usr/bin/alsa_out -r 48000 -c 20 -p 256 -j '%i' -d asym_dante0

ExecStart = /usr/bin/alsa_out -r 48000 -c 20 -p 1024 -n2 -j '%i' -d asym_dante0

# ExecStart = /usr/bin/alsa_out -c 99 -p 64 -j '%i' -d asym_dante0
# ExecStart = /usr/bin/zita-j2a -c 16 -p 64 -j dante_pcie_out -d hw:DantePCIe,0,0

ExecStop = /usr/bin/true

Restart = always
RestartSec = 5
TimeoutStartSec = 50

[Install]

WantedBy = jack_clients.target
