[Unit]
After=jack-connection-manager.service
Requires=jack-connection-manager.service
BindsTo=jack.target
Description=JACK connection: %I
Documentation=file://%h/bin/jack_connection

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=%h/.local/bin/jack-connection manager --connect "%I"
ExecStop=%h/.local/bin/jack-connection manager --remove "%I"
