[Unit]
After=jackd.service
BindsTo=jackd.service
Description=Watch JACK client %I

[Service]
Type=notify
ExecStart=%h/home-control/dbus/jack_client.py "%I"
