[Unit]

Description = JACK sound server
After = jackd.service
BindsTo = jackd.service
After = sound.target
# Wants = jack_clients.target

[Install]

WantedBy = default.target
