[Unit]
Wants=jack-connection-manager.service
BindsTo=jack.target
StopWhenUnneeded=yes
Description=JACK disconnection: %I
Documentation=file://%h/bin/jack_connection
