[Unit]
After = sound.target basic.target
Description = Magewell Pro Capture HDMI — audio input
Documentation=man:alsa_in(1)
Requires = sound.target basic.target

[Service]
Type=notify
ExecStart=%h/.local/bin/surface bridge jack alsa capture magewell_hdmi --device sysdefault:CARD=HDMI_1 --channels 2

[Install]
WantedBy=jack_clients.target
