
[Unit]
# RefuseManualStart = yes
# RefuseManualStop = yes

Description = Run jack client for %i
StopWhenUnneeded = no

Requires = jackd.service
# Requires = pulseaudio.service

After = jackd.service
After = pulseaudio.service

# BindsTo = pulseaudio.service
# Wants = jack_out_notify.service
Wants = ecasound@jack.service
After = ecasound@jack.service

AssertFileIsExecutable = /usr/bin/jack_control
AssertFileIsExecutable = /usr/bin/pactl
AssertFileIsExecutable = /usr/bin/pulseaudio
AssertFileIsExecutable = /usr/bin/zsh

[Service]
RemainAfterExit = yes

Type = oneshot

Restart = no
RestartSec = 10
TimeoutStartSec = 20
TimeoutStopSec = 20
ExecStartPre = /usr/bin/zsh -c '/usr/bin/jack_control status'

ExecStart = /usr/bin/zsh -c 'pactl load-module module-jack-sink channels=2 client_name=jack_out sink_name=jack_out'
ExecStart = /usr/bin/zsh -c 'pactl load-module module-jack-source channels=2 client_name=jack_in source_name=jack_in'

ExecStart = /usr/bin/zsh -c 'pactl set-default-sink jack_out'
ExecStart = /usr/bin/zsh -c 'pactl set-default-source jack_in'
ExecStop = -/usr/bin/zsh -ic "pactl list short | grep module-jack-sink | grep client_name=jack_out | cut -f 1 | xargs -I{} pactl unload-module {}"
ExecStopPost = -/usr/bin/zsh -ic "pactl list short | grep module-jack-source | grep client_name=jack_in | cut -f 1 | xargs -I{} pactl unload-module {}"

# TODO: unload pulse modules after stop

[Install]
WantedBy=default.target

