
[Unit]

StopWhenUnneeded = yes
DefaultDependencies = no
Description = Speakers — motherboard line-out
Documentation=man:alsa_out(1)

After = jackd.service
BindsTo = jackd.service

Wants = ecasound@speakers.service
Wants = speakers.target

[Service]
Type = notify

Restart = always

ExecStart = %h/.local/bin/surface bridge jack alsa playback %i --device hw:PCH --channels 2

# ExecStartPre = -/usr/bin/jack_unload %i default
# ExecStart = /usr/bin/jack_load --server default %i audioadapter -i "-d hw:PCH -i0"
# ExecStopPost = /usr/bin/jack_unload %i
# RemainAfterExit = yes

[Install]

WantedBy=jack_clients.target
