
[Unit]

# RefuseManualStart = yes
# RefuseManualStop = yes

Description = Run jack client

# PropagatesReloadTo = jackd.service

After = jackd.service
After = pulseaudio.service
PartOf = jack.target
Requires = jackd.service
Requires = pulseaudio.service
Requisite = jackd.service

AssertFileIsExecutable = /usr/bin/alsa_in
AssertFileIsExecutable = /usr/bin/alsa_out

[Service]
Restart = always
RestartSec = 10
TimeoutStartSec = 10
TimeoutStopSec = 10

CPUSchedulingPolicy=rr
CPUSchedulingPriority=90
LimitCORE=infinity
LimitMEMLOCK=infinity
LimitRTPRIO=infinity
LimitRTTIME=infinity
Nice=0

Slice = audio.slice

[Install]

WantedBy = jack.target

