[Unit]
After=jackd.service
BindsTo=jackd.service
Description=JACK client D-Bus watcher for %I
Documentation=file://%h/home-control/dbus/jack_client.py

[Service]
Type=notify
ExecStart=%h/home-control/dbus/jack_client.py "%I"
