[Unit]
After=jackd.service
BindsTo=jackd.service
Description=Ensure JACK connection %I

[Service]
Type=notify
NotifyAccess=all
ExecStart = uv run --project /home/chris/bin/jack_connection jack-connection --connect "%I"
