
[Unit]

# After = sound.target basic.target microphone.service
After = dante_pcie_in.service
Description = Main system audio
BindsTo = dante_pcie_in.service
Requires = sound.target basic.target jackd.service
StopWhenUnneeded = no

[Service]

ExecStart = /usr/bin/alsa_in -c 16 -p 64 -j '%i' -d asym_dante0
# ExecStart = /usr/bin/alsa_in -c 16 -p 64 -j '%i' -d asym_dante0
# ExecStart = /usr/bin/alsa_in -c 32 -p 64 -j '%i' -d asym_dante0
# ExecStart = /usr/bin/zita-a2j -c 8 -p 64 -j dante_pcie_in -d hw:DantePCIe,0,0

[Install]
WantedBy=jack_clients.target

