
[Unit]

AssertFileIsExecutable = /usr/bin/jackdbus
Description = JACK Audio Connection Kit sound server
RefuseManualStart = no
RefuseManualStop = no

# After = jack_client@dante_in.service
# After = jack_client@dante_out.service
# Before = chromium@default.service
# Before = dante_usb_out_notify.service
# Before = jack_client@pulseaudio.service
# Before = jack_out_notify.service
# Before = pulseaudio.service
# Wants = dante_usb_out_notify.service

After = sound.target
BindsTo = jackd.target
Requires = sound.target

After = dbus.service
Requires = dbus.service

# Wants = audio-control-panels.target
# Wants = jack_client@magewell_hdmi.service

Wants = dante_avio_bt_1.service
Wants = dante_pcie_out_notify.service
Wants = dante_usb_io_macbook_notify.service
Wants = dante_usb_io_notify.service
Wants = ecasound@jack.service
Wants = jack_client@pulseaudio.service
Wants = jack_out_notify.service
Wants = tv_speakers.target
Wants = vrroom_notify.service
Wants = setup_jack_alias.service

[Service]

# CPUSchedulingPolicy = rr
# CPUSchedulingPriority = 99
# CPUSchedulingResetOnFork = yes
# IOSchedulingClass = realtime
# IOSchedulingPriority = 0
# LimitNICE = -15
# LimitNICESoft = -15
# MemoryLimit=512M
# MemorySoftLimit=512M
# Nice = 0
# User = chris

LimitCORE = infinity
LimitMEMLOCK = infinity
LimitRTPRIO = infinity
LimitRTTIME = infinity
Slice = audio.slice

# Safe
# Environment=bufsize=640
# Environment=period=256

# Medium latency
Environment=bufsize=256
Environment = DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus
Environment=period=512

# Low latency
# Environment=bufsize=32

# Ultra low latency
# Environment=bufsize=24
# Environment=period=16

Environment=rate=48000

# ExecStop = /usr/bin/zsh -c '/usr/bin/jack_control stop'

# ExecStartPre = -/usr/bin/killall -9 jackd ecasound jackdbus catia cadence pulseaudio

# Generic dummy driver
# ExecStart = /usr/bin/zsh -c '/usr/bin/jack_control ds dummy'

ExecStart = /usr/bin/jack_control exit

# ALSA driver
ExecStart = /usr/bin/zsh -c '/usr/bin/jack_control ds alsa'

# ExecStart = /usr/bin/zsh -c "/usr/bin/jack_control dps period $period"

ExecStart = /usr/bin/zsh -c "/usr/bin/jack_control dps capture 'hw:DantePCIe,0'"
ExecStart = /usr/bin/zsh -c "/usr/bin/jack_control dps device 'hw:DantePCIe,0'"
ExecStart = /usr/bin/zsh -c "/usr/bin/jack_control dps playback 'hw:DantePCIe,0'"

# ExecStart = /usr/bin/zsh -c "/usr/bin/jack_control dps period 128"
# ExecStart = /usr/bin/zsh -c "/usr/bin/jack_control dps period 16"
# ExecStart = /usr/bin/zsh -c "/usr/bin/jack_control dps period 64"
ExecStart = /usr/bin/zsh -c "/usr/bin/jack_control dps rate $rate"

# ExecStart = /usr/bin/zsh -c '/usr/bin/jack_control dps inchannels 128'
# ExecStart = /usr/bin/zsh -c '/usr/bin/jack_control dps inchannels 128'

ExecStart = /usr/bin/zsh -c '/usr/bin/jack_control dps outchannels 24'
ExecStart = /usr/bin/zsh -c '/usr/bin/jack_control dps inchannels 24'

# ExecStart = /usr/bin/zsh -c '/usr/bin/jack_control eps realtime-priority 99'
# ExecStart = /usr/bin/zsh -c '/usr/bin/jack_control epr self-connect-mode'
# ExecStart = /usr/bin/zsh -c '/usr/bin/jack_control eps self-connect-mode a'

# ExecStart = /usr/bin/zsh -c "/usr/bin/jack_bufsize 32"
# ExecStart = /usr/bin/zsh -c "/usr/bin/jack_bufsize 512"

# ExecStart = /usr/bin/zsh -c "/usr/bin/jack_bufsize $bufsize"

# ExecStart = /usr/bin/zsh -c '/usr/bin/jack_control eps self-connect-mode A'
# ExecStart = /usr/bin/zsh -c '/usr/bin/jack_control eps self-connect-mode " "'

# ExecStart = /usr/bin/jack_control start
ExecStart = /usr/bin/qdbus org.jackaudio.service /org/jackaudio/Controller StartServer

ExecStart = /usr/bin/zsh -c '/usr/bin/jack_control status'
ExecStart = /usr/bin/zsh -c '/usr/bin/jack_control ep'
ExecStart = /usr/bin/zsh -c '/usr/bin/jack_control dp'

ExecReload = /usr/bin/zsh -c "/usr/bin/jack_bufsize $bufsize"
ExecReload = /usr/bin/zsh -c "/usr/bin/jack_control dps period $period"
ExecReload = /usr/bin/zsh -c "/usr/bin/jack_control dps rate $rate"
# ExecReload = /usr/bin/zsh -c "/usr/bin/jack_control iload netmanager"

# ExecStartPre = /usr/bin/zsh -c "amixer -c II set 'Analog Output',0 'Headphones'"
# ExecStartPre = /usr/bin/zsh -c "amixer -c II set 'DAC Filter',0 'Sharp Roll-off'"
# ExecStartPre = /usr/bin/zsh -c "amixer -c II set 'Headphones Impedance',0 '300-600 ohms'"
# ExecStartPre = /usr/bin/zsh -c "amixer -c II set 'Line' cap"
# ExecStartPre = /usr/bin/zsh -c "amixer -c II set 'Master',0 255 unmute"

# EVGA Dark X299

# ExecStartPre = /usr/bin/zsh -c "amixer -c PCH set 'Capture',0 16 cap"
# ExecStartPre = /usr/bin/zsh -c "amixer -c PCH set 'Crystalizer',0 mute"
# ExecStartPre = /usr/bin/zsh -c "amixer -c PCH set 'Dialog Plus',0 mute"
# ExecStartPre = /usr/bin/zsh -c "amixer -c PCH set 'Equalizer',0 mute"
# ExecStartPre = /usr/bin/zsh -c "amixer -c PCH set 'Master',0 255 unmute"
# ExecStartPre = /usr/bin/zsh -c "amixer -c PCH set 'PlayEnhancement',0 mute"
# ExecStartPre = /usr/bin/zsh -c "amixer -c PCH set 'Smart Volume' mute"
# ExecStartPre = /usr/bin/zsh -c "amixer -c PCH set 'Smart Volume',0 mute"
# ExecStartPre = /usr/bin/zsh -c "amixer -c PCH set 'Surround',0 mute"
# ExecStartPre = /usr/bin/zsh -c "amixer -c PCH set 'X-Bass',0 mute"

# Asus SAGE 10G
ExecStartPre = -/usr/bin/zsh -c "amixer -c PCH set 'Master',0 87 unmute"

# Dante USB module
# ExecStartPre = -/usr/bin/zsh -c "amixer -c Module set 'PCM',0 32768 unmute"
# ExecStartPre = -/usr/bin/zsh -c "amixer -c Module set 'Dante USB Receive',0 32768 cap"

# ExecStop = -/usr/bin/jack_control stop
ExecStop = -/usr/bin/jack_control exit
# ExecStopPost = -/usr/bin/jack_control exit

# ExecStopPost = -/usr/bin/killall -9 jackd ecasound jackdbus catia cadence pulseaudio

# ExecStartPost = +/usr/bin/zsh -c 'rtirq start'

# ExecStart = /usr/bin/zsh -c '/usr/bin/jack_control dps nperiods 2'
# ExecStartPre = -/usr/bin/zsh -c '/usr/bin/killall -9 catia'
# ExecStart = /usr/bin/zsh -c '/usr/bin/jack_control dps period 64'
# ExecStart = /usr/bin/zsh -c '/usr/bin/jack_control ds alsa'
# ExecStartPost = /usr/bin/zsh -c 'jack_lsp'

# Safe volume
# ExecStartPre = /usr/bin/zsh -c "amixer -c II set 'Master',0 175 unmute"
# ExecStartPre = /usr/bin/zsh -c "amixer -c II set 'Headphones Impedance',0 '< 32 ohms'"

# BusName = org.jackaudio.service
RemainAfterExit = yes
Restart = no
RestartSec = 10
TimeoutStartSec = 200
Type = oneshot
# Type = dbus
TimeoutStopSec = 3

[Install]

WantedBy = default.target
