[Unit]
After=jack-connection-manager.service
After=jack_connection@%i.service
Requires=jack-connection-manager.service
BindsTo=jack.target
Description=Ensure JACK disconnection %I

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=%h/.local/bin/jack-connection manager --disconnect "%I"
ExecStop=%h/.local/bin/jack-connection manager --remove "%I"
