[Unit]

After = jackd.service
Description = JACK audio clients — grouping target for all JACK client services
BindsTo = jack.target

[Install]

WantedBy = jack.target
