[Unit]
Description=PulseAudio default sink routing
After = jackd.service
BindsTo = jackd.service

After = jack_connection@jack_out.front\x2dleft\x2cspeakers_bus_volume.in_1.target
After = jack_connection@jack_out.front\x2dright\x2cspeakers_bus_volume.in_2.target
After = jack_connection@jack_out.front\x2dleft\x2clinux_main_volume.in_1.target
After = jack_connection@jack_out.front\x2dright\x2clinux_main_volume.in_2.target
After = jack_disconnection@jack_out.front\x2dleft\x2csystem.playback_1.target
After = jack_disconnection@jack_out.front\x2dright\x2csystem.playback_2.target

Requires = jack_connection@jack_out.front\x2dleft\x2cspeakers_bus_volume.in_1.target
Requires = jack_connection@jack_out.front\x2dright\x2cspeakers_bus_volume.in_2.target
Requires = jack_connection@jack_out.front\x2dleft\x2clinux_main_volume.in_1.target
Requires = jack_connection@jack_out.front\x2dright\x2clinux_main_volume.in_2.target
Requires = jack_disconnection@jack_out.front\x2dleft\x2csystem.playback_1.target
Requires = jack_disconnection@jack_out.front\x2dright\x2csystem.playback_2.target

# Wants=jack_connection@jack_out.front-left\x2cobs_jack_out.in_1.target
# Wants=jack_connection@jack_out.front-right\x2cobs_jack_out.in_2.target
# After=jack_connection@jack_out.front-left\x2cobs_jack_out.in_1.target
# After=jack_connection@jack_out.front-right\x2cobs_jack_out.in_2.target
