[Unit]

After = jackd.service
AssertFileIsExecutable = /usr/bin/jack_control
AssertFileIsExecutable = /usr/bin/pactl
AssertFileIsExecutable = /usr/bin/pulseaudio
AssertFileIsExecutable = /usr/bin/zsh
Description = Run jack client for %i
StopWhenUnneeded = no
Wants = jack_out.target
After = jackd.service
After = pulseaudio.service

[Service]

RemainAfterExit = yes
Restart = no
RestartSec = 10
TimeoutStartSec = 20
TimeoutStopSec = 20
Type = oneshot

ExecStartPre = /usr/bin/zsh -c '/usr/bin/jack_control status'

ExecStart = /usr/bin/zsh -c 'pactl load-module module-jack-sink channels=2 client_name=jack_out sink_name=jack_out connect=no'
ExecStart = /usr/bin/zsh -c 'pactl load-module module-jack-source channels=2 client_name=jack_in source_name=jack_in connect=no'

ExecStart = /usr/bin/pactl set-default-sink jack_out
ExecStart = /usr/bin/pactl set-default-source jack_in
ExecStop = -/usr/bin/zsh -ic "pactl list short | grep module-jack-sink | grep client_name=jack_out | cut -f 1 | xargs -I{} pactl unload-module {}"
ExecStopPost = -/usr/bin/zsh -ic "pactl list short | grep module-jack-source | grep client_name=jack_in | cut -f 1 | xargs -I{} pactl unload-module {}"

[Install]
WantedBy=default.target
