[Unit]
Description=JACK connection manager
Documentation=file://%h/bin/jack_connection
After=jackdbus.service
BindsTo=jack.target
StopWhenUnneeded=yes
StartLimitIntervalSec=30
StartLimitBurst=5

[Service]
Type=notify
ExecStart=/home/chris/.local/bin/surface audio jack connection manager
Restart=on-failure
RestartSec=2

[Install]
WantedBy=jack.target
