[Unit]
After = sound.target basic.target
Description = Magewell Pro Capture HDMI — audio input
Documentation=man:alsa_in(1)
Requires = sound.target basic.target

[Service]
ExecStart=/usr/bin/alsa_in -j "magewell_hdmi" -d sysdefault:CARD=HDMI_1 -c 2

[Install]
WantedBy=jack_clients.target
