[Unit]

Description = JACK Audio Connection Kit sound server
# PropagatesReloadTo = jackd.service
BindsTo = jack.target
BindsTo = jackd.service
After = jackd.service
