[Unit]

Description = Run jack client for %i
StopWhenUnneeded = no

PartOf = discord.service
BindsTo = pulseaudio.service
After = pulseaudio.service
Wants = discord_out_volume.target

AssertFileIsExecutable = /usr/bin/jack_control
AssertFileIsExecutable = /usr/bin/pactl
AssertFileIsExecutable = /usr/bin/pulseaudio
AssertFileIsExecutable = /usr/bin/zsh

[Service]

RemainAfterExit = yes

Type = oneshot

Restart = no
RestartSec = 10
TimeoutStartSec = 20
TimeoutStopSec = 20

ExecStartPre = /usr/bin/zsh -c '/usr/bin/jack_control status'

ExecStart = /usr/bin/zsh -c 'pactl load-module module-jack-sink channels=2 client_name=discord_out sink_name=discord_out connect=no'
ExecStart = /usr/bin/zsh -c 'pactl load-module module-jack-source channels=2 client_name=discord_in source_name=discord_in connect=no'

ExecStart = /usr/bin/pactl set-default-sink discord_out
ExecStart = /usr/bin/pactl set-default-source discord_in
ExecStop = -/usr/bin/zsh -ic "pactl list short | grep module-jack-sink | grep client_name=discord_out | cut -f 1 | xargs -I{} pactl unload-module {}"
ExecStopPost = -/usr/bin/zsh -ic "pactl list short | grep module-jack-source | grep client_name=discord_in | cut -f 1 | xargs -I{} pactl unload-module {}"

# TODO: unload pulse modules after stop

[Install]
WantedBy=default.target
