
[Unit]
# RefuseManualStart = yes
# RefuseManualStop = yes

Description=Run jack client for %i
StopWhenUnneeded=no

Requires = jackd.service
Requires = pulseaudio.service

After = jackd.service
After = pulseaudio.service

Before = mpd@books.service
Before = mpd@music.service
Before = mpd@voice.service

BindsTo = pulseaudio.service
PartOf = xbox_one.target
# Before = pulseaudio.service

AssertFileIsExecutable = /usr/bin/pulseaudio

[Service]
# RemainAfterExit = yes

Type = oneshot

Restart = no
RestartSec = 10
TimeoutStartSec = 10
TimeoutStopSec = 10

ExecStart = /usr/bin/true


[Install]
WantedBy=default.target

