[Unit]

AssertFileIsExecutable = /usr/bin/jackdbus
Description = JACK Audio Connection Kit sound server
RefuseManualStart = no
RefuseManualStop = no

After = sound.target
BindsTo = jackd.target
Requires = sound.target

After = dbus.service
Requires = dbus.service

After = jackdbus.service
Wants = jackdbus.service

Wants = dante_avio_bt_1.target
Wants = dante_pcie_out.target
Wants = dante_usb_io_macbook.target
Wants = dante_usb_io.target
Wants = jack_client@pulseaudio.service
Wants = jack_out_volume.target
Wants = jack_in.target
# Wants = tv_speakers.target
Wants = vrroom.target
Wants = setup_jack_alias.service

[Service]

CPUSchedulingPriority = 95
CPUSchedulingResetOnFork = no
# IOSchedulingClass = realtime

CPUAffinity = 0-3
CPUSchedulingPolicy=fifo
LimitCORE = infinity
LimitMEMLOCK = infinity
LimitRTPRIO = infinity
LimitRTTIME = infinity
Slice = audio-rt.slice

# Load shared JACK configuration
EnvironmentFile=%h/.config/systemd/user/jack.env

Environment = DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus

# ExecStop = /usr/bin/zsh -c '/usr/bin/jack_control stop'

# ExecStartPre = -/usr/bin/killall -9 jackd ecasound jackdbus catia cadence pulseaudio

# Generic dummy driver
# ExecStart = /usr/bin/zsh -c '/usr/bin/jack_control ds dummy'

ExecStart = /usr/bin/jack_control exit

# ALSA driver
ExecStart = /usr/bin/zsh -c '/usr/bin/jack_control ds alsa'


ExecStart = /usr/bin/zsh -c "/usr/bin/jack_control dps capture 'hw:DantePCIe,0'"
ExecStart = /usr/bin/zsh -c "/usr/bin/jack_control dps device 'hw:DantePCIe,0'"
ExecStart = /usr/bin/zsh -c "/usr/bin/jack_control dps playback 'hw:DantePCIe,0'"

# ExecStart = /usr/bin/zsh -c "/usr/bin/jack_control dps period 128"
# ExecStart = /usr/bin/zsh -c "/usr/bin/jack_control dps period 16"
# ExecStart = /usr/bin/zsh -c "/usr/bin/jack_control dps period 64"
ExecStart = /usr/bin/zsh -c "/usr/bin/jack_control dps period $period"
ExecStart = /usr/bin/zsh -c "/usr/bin/jack_control dps nperiods $nperiods"

ExecStart = /usr/bin/zsh -c "/usr/bin/jack_control dps rate $rate"

# ExecStart = /usr/bin/zsh -c '/usr/bin/jack_control dps inchannels 128'
# ExecStart = /usr/bin/zsh -c '/usr/bin/jack_control dps inchannels 128'

ExecStart = /usr/bin/zsh -c '/usr/bin/jack_control dps outchannels 128'
ExecStart = /usr/bin/zsh -c '/usr/bin/jack_control dps inchannels 128'

ExecStart = /usr/bin/zsh -c '/usr/bin/jack_control eps realtime-priority 99'
# ExecStart = /usr/bin/zsh -c '/usr/bin/jack_control epr self-connect-mode'
# ExecStart = /usr/bin/zsh -c '/usr/bin/jack_control eps self-connect-mode a'

# ExecStart = /usr/bin/zsh -c "/usr/bin/jack_bufsize 32"
# ExecStart = /usr/bin/zsh -c "/usr/bin/jack_bufsize 512"

# ExecStart = /usr/bin/zsh -c "/usr/bin/jack_bufsize $bufsize"

# ExecStart = /usr/bin/zsh -c '/usr/bin/jack_control eps self-connect-mode A'
# ExecStart = /usr/bin/zsh -c '/usr/bin/jack_control eps self-connect-mode " "'

# ExecStart = /usr/bin/jack_control start
ExecStart = /usr/bin/qdbus org.jackaudio.service /org/jackaudio/Controller StartServer

ExecStart = /usr/bin/zsh -c '/usr/bin/jack_control status'
ExecStart = /usr/bin/zsh -c '/usr/bin/jack_control ep'
ExecStart = /usr/bin/zsh -c '/usr/bin/jack_control dp'

# ExecStartPost = /usr/bin/zsh -c 'for T in /proc/$(pidof jackdbus)/task/*; do /usr/bin/taskset -pc 0 "$T:t"; done'

ExecReload = /usr/bin/zsh -c "/usr/bin/jack_bufsize $bufsize"
ExecReload = /usr/bin/zsh -c "/usr/bin/jack_control dps period $period"
ExecReload = /usr/bin/zsh -c "/usr/bin/jack_control dps rate $rate"
# ExecReload = /usr/bin/zsh -c "/usr/bin/jack_control iload netmanager"

# ExecStartPre = /usr/bin/zsh -c "amixer -c II set 'Analog Output',0 'Headphones'"
# ExecStartPre = /usr/bin/zsh -c "amixer -c II set 'DAC Filter',0 'Sharp Roll-off'"
# ExecStartPre = /usr/bin/zsh -c "amixer -c II set 'Headphones Impedance',0 '300-600 ohms'"
# ExecStartPre = /usr/bin/zsh -c "amixer -c II set 'Line' cap"
# ExecStartPre = /usr/bin/zsh -c "amixer -c II set 'Master',0 255 unmute"

# EVGA Dark X299

# ExecStartPre = /usr/bin/zsh -c "amixer -c PCH set 'Capture',0 16 cap"
# ExecStartPre = /usr/bin/zsh -c "amixer -c PCH set 'Crystalizer',0 mute"
# ExecStartPre = /usr/bin/zsh -c "amixer -c PCH set 'Dialog Plus',0 mute"
# ExecStartPre = /usr/bin/zsh -c "amixer -c PCH set 'Equalizer',0 mute"
# ExecStartPre = /usr/bin/zsh -c "amixer -c PCH set 'Master',0 255 unmute"
# ExecStartPre = /usr/bin/zsh -c "amixer -c PCH set 'PlayEnhancement',0 mute"
# ExecStartPre = /usr/bin/zsh -c "amixer -c PCH set 'Smart Volume' mute"
# ExecStartPre = /usr/bin/zsh -c "amixer -c PCH set 'Smart Volume',0 mute"
# ExecStartPre = /usr/bin/zsh -c "amixer -c PCH set 'Surround',0 mute"
# ExecStartPre = /usr/bin/zsh -c "amixer -c PCH set 'X-Bass',0 mute"

# Asus SAGE 10G
ExecStartPre = -/usr/bin/zsh -c "amixer -c PCH set 'Master',0 87 unmute"

# Dante USB module
# ExecStartPre = -/usr/bin/zsh -c "amixer -c Module set 'PCM',0 32768 unmute"
# ExecStartPre = -/usr/bin/zsh -c "amixer -c Module set 'Dante USB Receive',0 32768 cap"

# ExecStop = -/usr/bin/jack_control stop
ExecStop = -/usr/bin/jack_control exit
# ExecStopPost = -/usr/bin/jack_control exit

# ExecStopPost = -/usr/bin/killall -9 jackd ecasound jackdbus catia cadence pulseaudio

# ExecStartPost = +/usr/bin/zsh -c 'rtirq start'

# ExecStartPre = -/usr/bin/zsh -c '/usr/bin/killall -9 catia'
# ExecStart = /usr/bin/zsh -c '/usr/bin/jack_control dps period 64'
# ExecStart = /usr/bin/zsh -c '/usr/bin/jack_control ds alsa'
# ExecStartPost = /usr/bin/zsh -c 'jack_lsp'

# Safe volume
# ExecStartPre = /usr/bin/zsh -c "amixer -c II set 'Master',0 175 unmute"
# ExecStartPre = /usr/bin/zsh -c "amixer -c II set 'Headphones Impedance',0 '< 32 ohms'"

# BusName = org.jackaudio.service
RemainAfterExit = yes
Restart = no
RestartSec = 10
TimeoutStartSec = 200
Type = oneshot
# Type = dbus
TimeoutStopSec = 3

[Install]

WantedBy = default.target
