
[Unit]

After = sound.target basic.target
Description = Nintendo Switch Line-in
Requires = sound.target basic.target 

[Service]

ExecStart=/usr/bin/alsa_in -c2 -j '%i' -d hw:PCH

[Install]

WantedBy=default.target

