
[Unit]

DefaultDependencies = no
Description = Speakers (motherboard line-out)
StopWhenUnneeded = yes

[Service]

Restart = always

ExecStart = /usr/bin/alsa_out -c2 -j '%i' -d hw:PCH

[Install]

WantedBy=jack_clients.target
