
[Unit]

Description = Run a video game
AssertFileIsExecutable = /usr/bin/lutris

[Service]

ExecStart = /usr/bin/lutris lutris:rungame/%i
Restart = always
RestartSec = 10
TimeoutStartSec = 45
TimeoutStopSec = 10

[Install]

WantedBy = default.target

