
[Unit]

Description = Deus Ex
Requires = steam.service
After = steam.service
BindsTo = steam.service

[Service]

# ExecStart = /usr/bin/lutris lutris:rungame/%i
ExecStart = /usr/bin/zsh -ic "STEAM_COMPAT_DATA_PATH=/media/games/steam/steamapps/compatdata/6910/ python3 /home/chris/.local/share/Steam/steamapps/common/Proton\ 4.2/proton waitforexitandrun /media/games/steam/steamapps/common/Deus\ Ex/System/DeusEx.exe INI=..\\GMDXv9\\System\\gmdx.ini 2>/dev/null"
ExecStartPost = -/usr/bin/zsh -ic "rm $STEAM_APPS/common/Deus\\\sEx/System/Running.ini"
ExecStop = -/usr/bin/zsh -ic 'killall DeusEx.exe'
ExecStopPost = -/usr/bin/zsh -ic "rm $STEAM_APPS/common/Deus\\\sEx/System/Running.ini"
Restart = no
