[Unit]
Description=Digigram LX-Dante PCIe card — Dante configuration
Documentation=file://%h/bin/dante_device
Documentation=https://github.com/netaudio/dante-device

Wants=dante-config@lx-dante.target

AllowIsolate=yes

[Install]
WantedBy=default.target
