[Unit]
Description=MacBook personal audio input direct to mix buses
After=jackd.service
BindsTo=jackd.service
Conflicts=macbook_personal_volume.target

Requires=jack_connection@system.capture_11\x2cspeakers_bus_volume.in_1.target
Requires=jack_connection@system.capture_12\x2cspeakers_bus_volume.in_2.target
Requires=jack_connection@system.capture_11\x2clinux_main_volume.in_1.target
Requires=jack_connection@system.capture_12\x2clinux_main_volume.in_2.target
After=jack_connection@system.capture_11\x2cspeakers_bus_volume.in_1.target
After=jack_connection@system.capture_12\x2cspeakers_bus_volume.in_2.target
After=jack_connection@system.capture_11\x2clinux_main_volume.in_1.target
After=jack_connection@system.capture_12\x2clinux_main_volume.in_2.target
