[Unit]
Description=Microphone

After = shelford-channel.target
After = shure-p10t.target
BindsTo = microphone.service
Wants = shelford-channel.target
PropagatesReloadTo = microphone.service
Requires = microphone.service
Requires = dante-microphone-out-on.target
Conflicts = dante-microphone-out-off.target
