
[Unit]

# Requires = dante_in.service
After = outlet@3.service
BindsTo = outlet@3.service
Description=DANTE Microphone
PropagatesReloadTo = microphone.service
# Requires = jack_client@dante_pcie_in.service
Requires = microphone.service
