[Unit]

# After = dante_usb_in_notify.service
After = ecasound@mic.service
After = outlet@2.service
Before = dante_in.service
# Before = jack_in_notify.service
BindsTo = microphone.target
BindsTo = outlet@2.service
DefaultDependencies = no
Description = DANTE Microphone
Requires = jack_client@pulseaudio.service
Requires = outlet@2.service
Requires = outlet@3.service
StopWhenUnneeded = yes
# Wants = dante_usb_in_notify.service
Wants = ecasound@mic.service
PartOf=audio-full.target
PartOf=microphone.target

[Service]

ExecStart = /usr/bin/true
RemainAfterExit = yes
RestartSec=2
TimeoutStopSec=2s
