
[Unit]

After = outlet@7.service
BindsTo = outlet@7.service
After = outlet@2.service
BindsTo = outlet@2.service
Description=Mixed microphones
PropagatesReloadTo = mixed-microphones.service
Requires = mixed-microphones.service
Requires = jack_client@dante_in.service
Requires = dante_in.service
