
[Unit]

# BindsTo=mpv.service

After = mpv.service
BindsTo = clock.target
Description = watch a movie
PartOf = tv.target 
PropagatesReloadTo = mpv.service
RefuseManualStart = yes
RefuseManualStop = yes
Requires = mpv.service
RequiresMountsFor = /home/chris/media_player_state
StopWhenUnneeded = no

; TODO: Use pid to stop daemon

[Service]

# Environment = $(cat /home/chris/media_player_state/path)
# ExecStart = /usr/bin/mpv --input-unix-socket=%t/mpv.video --softvol-max=200 --no-resume-playback --force-window=yes --keep-open=yes --idle=yes
# ExecStartPost = /usr/bin/env media_player --playlist $MPV_PLAYLIST --current $MPV_CURRENT --prop time-pos=$MPV_TIME_POS

EnvironmentFile = /home/chris/.config/systemd/user/default_env
Environment = DISPLAY=:0
Environment = MPV_CURRENT=/home/chris/media_player_state/path
Environment = MPV_PLAYLIST=/home/chris/media_player_state/playlist
Environment = MPV_TIME_POS=/home/chris/media_player_state/time-pos

# ExecStop = /usr/bin/zsh -ic "systemctl --user is-active mpv.service && media_player --prop time-pos > $MPV_TIME_POS"
# ExecStop = /usr/bin/zsh -ic "systemctl --user is-active mpv.service && media_player --prop path > $MPV_CURRENT"

# ExecReload = /bin/kill -HUP $MAINPID
ExecStart = /home/chris/.scripts/py/media_player --daemon
ExecReload = /home/chris/.scripts/py/media_player --daemon

ExecStop = /usr/bin/zsh -ic "media_player --prop time-pos && media_player --prop time-pos > $MPV_TIME_POS || true"
ExecStop = /usr/bin/zsh -ic "media_player --prop path && media_player --prop path > $MPV_CURRENT || true"
ExecStop = /bin/kill -HUP $MAINPID

ExecReload = /usr/bin/zsh -ic "media_player --prop path && media_player --prop path > $MPV_CURRENT || true"
ExecStop = /usr/bin/zsh -ic "media_player --prop time-pos && media_player --prop time-pos > $MPV_TIME_POS || true"

KillMode = process

# ExecStartPost = /usr/bin/sleep 0.1
# ExecStartPost = /usr/bin/zsh -ic "media_player --playlist $MPV_PLAYLIST --current $(cat $MPV_CURRENT)"
# ExecStartPost = /usr/bin/sleep 1
# ExecStartPost = /usr/bin/zsh -ic "media_player --prop time-pos=$(cat $MPV_TIME_POS)"

# ExecStopPost = /usr/bin/zsh -ic "media_player --json --prop playlist | underscore pluck filename --outfmt text > /home/chris/media_player_state/playlist"
# ExecStop = /usr/bin/zsh -ic "media_player --prop time-pos > $MPV_TIME_POS"
# ExecStop = /usr/bin/zsh -ic "echo media_player --prop path > $MPV_CURRENT"
# ExecStop = /usr/bin/zsh -ic "media_player --prop path > $MPV_CURRENT"
NotifyAccess = all

Restart = always
TimeoutStartSec=5s
TimeoutStopSec=2s
RestartSec = 1
Type = notify
RemainAfterExit = yes

[Install]

WantedBy = clock.target

