
[Unit]
Conflicts=shutdown.target
Description=watch a movie

; TODO: Use pid to stop daemon

[Service]
Environment=DISPLAY=:0
ExecStart=/home/chris/.scripts/video_player/player.zsh
ExecStop=/usr/bin/killall mpv
Restart=always
Type=simple
RestartSec=5
WorkingDirectory=/home/chris/

[Install]
WantedBy=graphical.target

