
[Unit]

After = media-audio.mount
ConditionPathIsDirectory = /media/audio
Description = Run music player daemon for %i
PartOf = jackd.service
Requires = media-audio.mount
Requires = ecasound@jack.service
After = ecasound@jack.service
Wants = ecasound@%i.service
Wants = ympd@%i.service
RequiresMountsFor = /media/audio

[Service]

Environment = MPD_CONFIG_FILE='%h/.config/%p/%i/%p/%p.conf'
Environment = MPD_HOST='%t/%p_%i/socket'
Environment = MPD_PLAYLIST_DIR='%t/%p_%i/playlists'
Environment = PULSE_PROP='media.role=music'
Environment = XDG_CONFIG_HOME=%h/.config/%p/%i/

CPUSchedulingPolicy = rr
CPUSchedulingPriority = 90
LimitCORE = infinity
LimitMEMLOCK = infinity
LimitRTPRIO = infinity
LimitRTTIME = infinity
# Nice = 0
PIDFile = %t/%p_%i/pid
PassEnvironment = XDG_CONFIG_HOME
Restart = always
RestartSec = 200
RuntimeDirectory = %p_%i
TimeoutStartSec = 10m
TimeoutStopSec = 1
Type = notify

ExecReload = -/usr/bin/zsh -c "mpc toggle"
ExecReload = -/usr/bin/zsh -c "mpc toggle"
ExecReload = -/usr/bin/zsh -c "mpc update --wait"

ExecStartPre = /usr/bin/zsh -c "mkdir -p $MPD_PLAYLIST_DIR"
ExecStartPre = /usr/bin/zsh -c "touch %t/%p_%i/{log,database,state}"

ExecStartPre = /usr/bin/zsh -c 'echo "mpd --verbose --no-daemon $MPD_CONFIG_FILE"'
ExecStart = /usr/bin/mpd --verbose --no-daemon $MPD_CONFIG_FILE

ExecStartPost = -/usr/bin/zsh -c "sleep 2 && mpc toggle; mpc toggle"

ExecStop = /usr/bin/zsh -c "mpc pause"

# These break stuff now
# PrivateTmp = yes
# ProtectSystem = yes

[Install]

WantedBy = default.target

