
[Unit]
After=sound.target basic.target
Description=Run music player daemon for audio

[Service]
Environment=PULSE_PROP='media.role=music'
ExecStart=/usr/bin/mpd --no-daemon /home/chris/.config/mpd/%i/%i.conf
LimitRTPRIO=50
LimitRTTIME=infinity
ProtectSystem=yes
TimeoutStopSec=1
Type=notify
RuntimeDirectory = mpd

[Install]
WantedBy=default.target

