
[Unit]

# After = chromium.service
# After = tmux@clock.service
# After = xmonad.target
# BindsTo = movie.service
# PartOf = movie.service
# PartOf = xmonad.target
# Wants = xmonad.target
# PartOf = clock.target

Before = movie.service
BindsTo = clock.target
BindsTo = movie.service
Description = mpv player
RefuseManualStart = yes
RefuseManualStop = yes
RequiresMountsFor = /home/chris/media_player_state
RequiresMountsFor = /media
StopWhenUnneeded = no

[Service]

RemainAfterExit = no
Restart = always
RestartSec = 20
RuntimeDirectory = mpv
TimeoutStartSec=1s
TimeoutStopSec=1s
Type = idle

Environment = DISPLAY=:0
Environment = MPV_CURRENT=%h/media_player_state/path
Environment = MPV_PLAYLIST=%h/media_player_state/playlist
Environment = MPV_TIME_POS=%h/media_player_state/time-pos
EnvironmentFile = %h/.config/systemd/user/default_env

ExecStartPre = /usr/bin/zsh -ic "stat $MPV_CURRENT"
ExecStartPre = /usr/bin/zsh -ic "wmctrl -s 2 || true"
ExecStartPre = /usr/bin/zsh -ic "wmctrl -r $(basename $(cat $MPV_CURRENT)) -t 7 || true"
ExecStartPre = /usr/bin/zsh -ic "wmctrl -r $(basename $(cat $MPV_CURRENT)) -t 2 || true"
ExecStartPre = /usr/bin/zsh -ic "wmctrl -a $(basename $(cat media_player_state/path)) || true"

ExecStart = /usr/bin/mpv --input-ipc-server=%t/mpv/video --volume-max=200 --no-resume-playback --force-window=yes --keep-open=yes --idle=yes
ExecStartPost = /usr/bin/zsh -ic "media_player --playlist $MPV_PLAYLIST --current $(cat $MPV_CURRENT)"
ExecStartPost = /usr/bin/zsh -ic "media_player --prop path"
ExecStartPost = /usr/bin/zsh -ic "media_player --prop time-pos=$(cat $MPV_TIME_POS)"

ExecStartPost = /usr/bin/zsh -ic "wmctrl -l | grep -oe $(basename $(cat $MPV_CURRENT))"
# ExecStartPost = /usr/bin/zsh -ic "wmctrl -r $(basename $(cat $MPV_CURRENT)) -t 7 || true"


# ExecStartPost = /usr/bin/zsh -ic "wmctrl -r $(basename $(cat $MPV_CURRENT)) -t 2 || true"
# ExecStartPost = /usr/bin/zsh -ic "xdotool key super+e super+3"

# ExecStartPost = /usr/bin/zsh -ic "%h/xmonadctl screen0 || true"
# ExecStartPost = /usr/bin/zsh -ic "wmctrl -a $(basename $(cat $MPV_CURRENT)) || true"

ExecStop = /usr/bin/zsh -ic "media_player --prop time-pos && media_player --prop time-pos > $MPV_TIME_POS || true"
ExecStop = /usr/bin/zsh -ic "media_player --prop path && media_player --prop path > $MPV_CURRENT || true"
ExecStop = /bin/kill -HUP $MAINPID

ExecReload = /bin/kill -HUP $MAINPID

ExecReload = /usr/bin/zsh -ic "wmctrl -s 2 || true"
ExecReload = /usr/bin/zsh -ic "%h/xmonadctl screen0 || true"
ExecReload = /usr/bin/zsh -ic "wmctrl -r $(basename $(cat $MPV_CURRENT)) -t 7 || true"
ExecReload = /usr/bin/zsh -ic "wmctrl -r $(basename $(cat $MPV_CURRENT)) -t 2 || true"
ExecReload = /usr/bin/zsh -ic "wmctrl -a $(basename $(cat $MPV_CURRENT)) || true"

[Install]
WantedBy = graphical-session.target

