
[Unit]

Before = movie.service
BindsTo = movie.service
BindsTo = tv.target
Description = mpv player
RefuseManualStart = yes
RefuseManualStop = yes
RequiresMountsFor = /home/chris/.scripts/media_player_state
RequiresMountsFor = /media
StopWhenUnneeded = yes

Before = ecasound@jack.service
Before = ecasound@mpv.service
DefaultDependencies = no
Requires = ecasound@mpv.service
Wants = mpv_notify.service

[Service]

RemainAfterExit = no
Restart = always
RestartSec = 1
RuntimeDirectory = mpv
StartLimitBurst = 0
TimeoutStartSec = 2s
TimeoutStopSec = 1s
Type = simple

Environment = DISPLAY=:0
Environment = MPV_PAUSE=no

Environment = MPV_CURRENT=/home/chris/.scripts/media_player_state/path
Environment = MPV_PAUSE=/home/chris/.scripts/media_player_state/pause
Environment = MPV_PLAYLIST=/home/chris/.scripts/media_player_state/playlist
Environment = MPV_TIME_POS=/home/chris/.scripts/media_player_state/time-pos
EnvironmentFile = /home/chris/.config/systemd/user/default_env

ExecStart = /usr/bin/zsh -ic "/usr/bin/mpv --input-ipc-server=%t/mpv/video --ao=jack --jack-name=mpv --jack-autostart=no --jack-connect=no --x11-name MPV_SCRIPTED --x11-bypass-compositor=never --volume-max=200 --no-resume-playback --force-window=yes --keep-open=yes --idle=yes"
ExecStartPost = /usr/bin/zsh -ic "media_player --prop vid=0 || true"
ExecStartPost = /usr/bin/zsh -ic 'redis-cli -s /run/redis/redis.sock lrange video_playlist 0 -1 > %t/%p_playlist'
ExecStartPost = /usr/bin/zsh -ic "media_player --prop pause=yes || true"

ExecStartPost = /usr/bin/zsh -ic 'media_player --playlist %t/%p_playlist'
ExecStartPost = /usr/bin/zsh -ic "media_player --prop vid=0 || true"
ExecStartPost = /usr/bin/zsh -ic "grep -nr $(redis-cli -s /run/redis/redis.sock get video_playlist_current) %t/%p_playlist | cut -d : -f1 | xargs -I{} media_player --prop playlist-pos-1={}"
ExecStartPost = /usr/bin/zsh -ic "media_player --prop vid=0 || true"
ExecStartPost = /usr/bin/zsh -ic "media_player --prop time-pos=$(redis-cli -s /run/redis/redis.sock get video_playlist_current_time)"
ExecStartPost = /usr/bin/zsh -ic "media_player --prop vid=0 || true"
ExecStartPost = /usr/bin/zsh -ic "media_player --prop vid=1 || true"

ExecStop = /usr/bin/zsh -ic "media_player --prop pause=yes || true"
ExecStop = /usr/bin/zsh -ic "redis-cli -s /run/redis/redis.sock set video_playlist_current $(media_player --prop path)"
ExecStop = /usr/bin/zsh -ic "redis-cli -s /run/redis/redis.sock set video_playlist_current_time $(media_player --prop time-pos)"

[Install]

WantedBy = graphical-session.target
