[Unit]
Description=mpv daemon instance: %i
Documentation=file://%h/bin/mpv
PartOf=mpv-session@%i.target
StopWhenUnneeded=yes

[Service]
Type=notify
Environment="DISPLAY=:0"
ExecStart=%h/.local/bin/mpv-daemon --name=%i
Restart=always
RestartSec=2
TimeoutStartSec=10
TimeoutStopSec=5

[Install]
WantedBy=default.target
