[Unit]
Description=mpv IPC controller for %i
Documentation=file://%h/bin/mpv

After=mpv@%i.service
PartOf=mpv-session@%i.target
Requires=mpv@%i.service
StopWhenUnneeded=yes

[Service]
Type=notify
ExecStart=%h/.local/bin/mpv-ipc --name=%i
Restart=always
RestartSec=2
TimeoutStartSec=15
TimeoutStopSec=5

[Install]
WantedBy=default.target
