[Unit]

Description=Music JACK Connections
After=jackd.service
BindsTo=jackd.service
StopWhenUnneeded=no

After=jack_connection@music.left\x2cmusic_effects.in_1.service
After=jack_connection@music.right\x2cmusic_effects.in_2.service
After=jack_connection@music_effects.out_1\x2cspeakers_effects.in_1.service
After=jack_connection@music_effects.out_2\x2cspeakers_effects.in_2.service
After=jack_disconnection@music.left\x2csystem.playback_1.service
After=jack_disconnection@music.right\x2csystem.playback_2.service
After=jack_disconnection@music.left\x2csystem.playback_15.service
After=jack_disconnection@music.right\x2csystem.playback_16.service
Requires=jack_connection@music.left\x2cmusic_effects.in_1.service
Requires=jack_connection@music.right\x2cmusic_effects.in_2.service
Requires=jack_connection@music_effects.out_1\x2cspeakers_effects.in_1.service
Requires=jack_connection@music_effects.out_2\x2cspeakers_effects.in_2.service
Requires=jack_disconnection@music.left\x2csystem.playback_1.service
Requires=jack_disconnection@music.right\x2csystem.playback_2.service
Requires=jack_disconnection@music.left\x2csystem.playback_15.service
Requires=jack_disconnection@music.right\x2csystem.playback_16.service
