[Unit]
Description=Music with volume control (direct to system)
After=jackd.service
BindsTo=jackd.service
Conflicts=music.target
Conflicts=music_direct.target
Conflicts=music_volume.target

Requires=mpd@music.service
After=mpd@music.service

Requires=jack_volume@music.service
After=jack_volume@music.service

Requires=jack_connection@music.left\x2cmusic_volume.in_1.service
Requires=jack_connection@music.right\x2cmusic_volume.in_2.service
Requires=jack_connection@music_volume.out_1\x2csystem.playback_15.service
Requires=jack_connection@music_volume.out_2\x2csystem.playback_16.service

After=jack_connection@music.left\x2cmusic_volume.in_1.service
After=jack_connection@music.right\x2cmusic_volume.in_2.service
After=jack_connection@music_volume.out_1\x2csystem.playback_15.service
After=jack_connection@music_volume.out_2\x2csystem.playback_16.service