
[Unit]

Description = JACK network audio
PropagatesReloadTo = netjack.service
Wants = netjack.service
Wants = vm_notify.service
Wants = ecasound@jack2.service
