
[Unit]

After = network.target
Description = Run %i

[Service]

CPUQuota=5%
ExecStart = /usr/bin/npm start
WorkingDirectory = %h/home-control/%i/

EnvironmentFile = %h/home-control/%i/.env

[Install]

WantedBy = default.target
