[Unit]

After = graphical-session.target
After = obs_notify.service
After = sound.target
Description = Open Broadcaster Software
Requires = graphical-session.target
Requires = sound.target
Wants = obs_notify.service

# After = xbox_out.service

[Service]
# ExecStartPre=-/usr/bin/v4l2-ctl -d /dev/video0 -c focus_auto=0
# ExecStartPre=-/usr/bin/v4l2-ctl -d /dev/video0 -c focus_absolute=0
# ExecStartPre=-/usr/bin/jack_control status

ExecStart=/usr/bin/obs --disable-shutdown-check
ExecStop = /usr/bin/kill -SIGINT $MAINPID
KillMode = mixed
Restart = no
RestartSec = 6
TimeoutStartSec = 2s
TimeoutStopSec = 2s

[Install]
WantedBy = default.target
