[Unit]

DefaultDependencies = no
Description = Power outlet %i

[Service]
TimeoutStartSec = 5
TimeoutStopSec = 5
RestartSec = 5
Restart = no
RemainAfterExit = yes
Type = oneshot

ExecStart = /usr/bin/uv run --project /home/chris/bin/pdu_snmp pdu-enforcer pdu-7901-1 %i on
ExecStop = /usr/bin/uv run --project /home/chris/bin/pdu_snmp pdu-enforcer pdu-7901-1 %i off

[Install]

WantedBy=default.target
