[Unit]

DefaultDependencies = no
Description = Power outlet %i
Wants = pdu-manager.service
After = pdu-manager.service

[Service]
TimeoutStartSec = 5
TimeoutStopSec = 5
RestartSec = 5
Restart = no
RemainAfterExit = yes
Type = oneshot

ExecStart=%h/.local/bin/pdu-outlet-command on %i outlet@%i.service
ExecStop=%h/.local/bin/pdu-outlet-command off %i outlet@%i.service

[Install]

WantedBy=default.target
