[Unit]
Description=PDU outlet manager
Documentation=file://%h/bin/pdu_snmp

[Service]
Type=notify
ExecStart=%h/.local/bin/surface power pdu manager
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
