[Unit]
Description=PDU SNMP trap handler
Documentation=file://%h/bin/pdu_snmp

[Service]
ExecStart=%h/.local/bin/surface power pdu trap
Restart=always
Type=notify

[Install]
WantedBy=default.target
