[Unit]

After = portico-5043-left.service 
BindsTo = portico-5043-left.service
Requires = portico-5043-left.service
Description = Rupert Neve Portico 5043 (Left)

Before=wireless-audio@1.service
Before=wireless-audio@2.service
BindsTo=wireless-audio@1.service
BindsTo=wireless-audio@2.service
