[Unit]
Description=Rupert Neve Designs Portico 5043 Left — stereo compressor
Requires=outlet@5.service
After=outlet@5.service
BindsTo=outlet@5.service
PartOf=portico-5043-left.target
StopWhenUnneeded=yes
RefuseManualStart=yes
RefuseManualStop=yes

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStop=/usr/bin/zsh -ic "echo 'Shutting down Portico 5043 Left...'"

TimeoutStartSec=40s
TimeoutStopSec=5s
RestartSec=5s
