[Unit]

After = outlet@7.service
BindsTo = outlet@7.service
Description = Rupert Neve Designs Portico 5043 Right — stereo compressor
PartOf = wireless-audio@2.service
