[Unit]
Description=Maximum power saving for blackout conditions
Conflicts=powersave.target
Upholds=cpu-blackout.target gpu-blackout.target hdd-blackout.target
After=cpu-blackout.target gpu-blackout.target hdd-blackout.target
