
[Unit]

ConditionUser=!root
Description=Sound Service

# Before = jack_client@pulseaudio.service

After = jackd.service
BindsTo = jackd.service
PartOf = jackd.service
Requires = jackd.service
Requires = pulseaudio.socket

[Service]

# CPUSchedulingResetOnFork=yes
# IOSchedulingClass=realtime
# IOSchedulingPriority=0
# Nice=0

CPUSchedulingPolicy=rr
CPUSchedulingPriority=90
LimitCORE=infinity
LimitMEMLOCK=infinity
LimitRTPRIO=infinity
LimitRTTIME=infinity

Environment = JACK_NO_START_SERVER=1

ExecStart=/usr/bin/pulseaudio --daemonize=no

# Restart = no

Restart = on-failure
RestartSec=6
TimeoutStartSec = 50s
TimeoutStopSec=2s

Type=notify
Slice = audio.slice

[Install]

Also=pulseaudio.socket
WantedBy=default.target
