[Unit]

ConditionUser=!root
Description=Sound Service

After = jackd.service
BindsTo = jackd.service
# Requires = pulseaudio.socket

[Service]

CPUAffinity=1-4
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=90
LimitCORE=infinity
LimitMEMLOCK=infinity
LimitRTPRIO=infinity
LimitRTTIME=infinity
Slice=audio-rt.slice

Environment = JACK_NO_START_SERVER=1

ExecStart=/usr/bin/pulseaudio --daemonize=no
ExecStartPost=/usr/bin/chrt -f -p 90 $MAINPID

Restart = on-failure
RestartSec=6
TimeoutStartSec = 50s
TimeoutStopSec=2s

Type=notify
Slice = audio.slice
