[Unit]
Description=PulseAudio JACK source: %i
After=jackd.service
After=pulseaudio.service
BindsTo=jackd.service
BindsTo=pulseaudio.service

[Service]
Type=notify
ExecStart=%h/.local/bin/surface bridge pulse jack source %i
Slice=audio.slice
