[Unit]

ConditionUser=!root
Description=Sound Service

After = jackd.service
BindsTo = jackd.service
# Requires = pulseaudio.socket

[Service]

CPUSchedulingPolicy=rr
CPUSchedulingPriority=90
LimitCORE=infinity
LimitMEMLOCK=infinity
LimitRTPRIO=infinity
LimitRTTIME=infinity

Environment = JACK_NO_START_SERVER=1

ExecStart=/usr/bin/pulseaudio --daemonize=no

Restart = on-failure
RestartSec=6
TimeoutStartSec = 50s
TimeoutStopSec=2s

Type=notify
Slice = audio.slice
