[Unit]
Description=Home Control D-Bus Service
After=network.target

# TODO: use systemd-nspawn to create a container to do this more safely

[Service]
Type=simple
ExecStart=/bin/zsh -c 'npm install && npm rebuild'
WorkingDirectory=%h/home-control/dbus/

[Install]
WantedBy=default.target
