[Unit]
Description=Record multi-channel audio through ecasound and encode with opusenc

[Service]
Type=simple
ExecStart=%h/.scripts/record-audio.zsh
ExecStop=/usr/bin/zsh -c 'sleep 4.0 && kill -SIGTERM $MAINPID'
TimeoutStopSec=60

[Install]
WantedBy=default.target
