[Unit]
Description=Record audio — multichannel JACK recording
Documentation=file://%h/.scripts/record-audio.zsh

[Service]
Type=simple
ExecStart=%h/.scripts/record-audio.zsh
ExecStop=/usr/bin/zsh -c 'sleep 4.0 && kill -SIGTERM $MAINPID'
TimeoutStopSec=60

[Install]
WantedBy=default.target
