[Unit]
Description=Rupert Neve Satellite 5059
Requires=satellite-5059.service
After = satellite-5059.service

PropagatesReloadTo=satellite-5059.service
