[Unit]
Description=Rupert Neve Satellite 5059
Requires=satellite-5059.service
After=satellite-5059.service
BindsTo=satellite-5059.service
Before=wireless-audio@1.service
Before=wireless-audio@2.service
BindsTo=wireless-audio@1.service
BindsTo=wireless-audio@2.service

PropagatesReloadTo=satellite-5059.service
