[Unit]

Description=Setup Jack Aliases

After=jackd.service jackdbus.service
BindsTo=jackd.service

[Service]
Type=notify
RemainAfterExit=yes
TimeoutStartSec=infinity

ExecStart=%h/.local/bin/jack-dante-alias --alias
ExecStop=%h/.local/bin/jack-dante-alias --unalias
