[Unit]

Description=Setup Jack Aliases

After=jackd.service
BindsTo=jackd.service

[Service]
Type=notify
RemainAfterExit=yes

ExecStartPre = /usr/bin/uv sync
ExecStart = %h/bin/jack_alias/.venv/bin/jack-dante-alias --alias
ExecStop = %h/bin/jack_alias/.venv/bin/jack-dante-alias --unalias
WorkingDirectory = %h/bin/jack_alias
