
[Unit]

After = outlet@2.service
Before = wireless-audio@2.service
BindsTo = outlet@2.service
BindsTo = wireless-audio@2.service
Description = Receiver for wireless microphones
BindsTo = wireless-microphone.target
Requires = outlet@2.service
