[Unit]
Description=Shure AD4D — Axient Digital wireless mic receiver
Requires = shure-ad4d.service
After=shure-ad4d.service
BindsTo=shure-ad4d.service
# BindsTo=wireless-audio@2.target
# BindsTo=wireless-microphone.target
# Before=wireless-audio@2.target
