[Unit]
Description = Transmitter for wireless audio monitoring
Requires = shure-p10t.service
After = shure-p10t.service
BindsTo=  shure-p10t.service
Before=wireless-audio@1.service
Before=wireless-audio@2.service
# BindsTo=wireless-audio@1.service
# BindsTo=wireless-audio@2.service
