
[Unit]

After = outlet@2.service
BindsTo = outlet@2.service
Description = Transmitter for wireless audio monitoring
Requires = outlet@2.service 

PropagatesReloadTo = wireless-audio@1.service
PropagatesReloadTo = wireless-audio@2.service

