
[Unit]

Description = Slack
Requires = graphical-session.target

[Service]

Nice = 19

Environment=DISPLAY=:0
# Environment=PULSE_SINK='slack_out'
# Environment=PULSE_SOURCE='slack_in'
ExecStart = /usr/bin/slack
ExecStop = /usr/bin/killall -I -9 slack

KillMode=process
Restart=no
RestartSec=6
TimeoutStartSec=2s
TimeoutStopSec=2s

[Install]
WantedBy = default.target
