
[Unit]

# RefuseManualStart = yes
# RefuseManualStop = yes
# StopWhenUnneeded = yes

After = ecasound@jack.service
After = ecasound@speakers.service
BindsTo = speakers.target
DefaultDependencies = no
Description = Speakers
Requires = ecasound@jack.service
Requires = ecasound@speakers.service
Wants = node_notify.service

[Service]

RemainAfterExit=yes
RestartSec=2
TimeoutStopSec=2s
Type=oneshot

ExecStart = /usr/bin/true
