[Unit]

# RefuseManualStart = yes
# RefuseManualStop = yes
StopWhenUnneeded = yes

DefaultDependencies = no
Description = Speakers

# After = ecasound@jack.service
# After = ecasound@speakers.service
# After = pulseaudio.service
# BindsTo = speakers.target
# Requires = ecasound@jack.service
# Requires = ecasound@speakers.service
# Requires = pulseaudio.service
# Wants = node_notify.service

# After = ecasound@jack.service
# After = ecasound@speakers.service

BindsTo = speakers.target

After = jackd.service
BindsTo = jackd.service

Requires = ecasound@jack.service
Requires = ecasound@speakers.service
Requires = jack_client@speakers.service
Requires = node_notify.service

[Service]

Environment = JACK_NO_START_SERVER=1
RemainAfterExit=yes
RestartSec=2
TimeoutStopSec=2s
Type=oneshot

ExecStart = /usr/bin/true
