
[Unit]

Before = mpd@stream.service
PartOf = mpd@stream.service

StopWhenUnneeded = no

[Service]

Environment = DISPLAY=:0
Environment = DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus
NotifyAccess = all
RemainAfterExit = yes
Restart = no
RestartSec = 1
StartLimitBurst = 0
TimeoutStartSec = 20s
TimeoutStopSec = 20s
Type = notify

ExecStart = /usr/bin/node %h/home-control/dbus/stream_out.js
