[Unit]
Description=System temperature monitor
Documentation=file://%h/bin/surface

[Service]
Type=oneshot
ExecStart=%h/.local/bin/surface-temp-monitor alert s00pcan@gmail.com --threshold 90.0 --cooldown 1
