[Unit]
Description=System temperature monitor
Documentation=file://%h/bin/system_monitor

[Service]
Type=oneshot
ExecStart=%h/.local/bin/temp-monitor alert s00pcan@gmail.com --threshold 90.0 --cooldown 1
