
[Unit]

Conflicts=shutdown.target
Description=Start scripted tmux session
RefuseManualStart=yes
RefuseManualStop=yes
StopWhenUnneeded=yes

[Service]

EnvironmentFile=/home/chris/.config/systemd/user/default_env
ExecStart=/usr/bin/zsh -c "/usr/bin/tmux -S /home/chris/.tmp/tmux/tmux-1000/%i -f /home/chris/.config/tmux/sessions/%i start-server"
ExecStop=/usr/bin/tmux -S /home/chris/.tmp/tmux/tmux-1000/%i kill-server
KillMode=process
Restart=always
RestartSec=2
SendSIGKILL=no
TimeoutStopSec=5
Type=forking
WorkingDirectory=/home/chris/

[Install]

WantedBy=default.target
DefaultInstance=admin

