[Unit]

After = basic.target
After = emacs.service
Description = tmux admin session service
Documentation=man:tmux(1)
RefuseManualStart = no
RefuseManualStop = no
Requires = basic.target
StopWhenUnneeded = no

[Service]

# ~/.config/systemd/user/admin.env

EnvironmentFile = %h/.config/systemd/user/default_env
EnvironmentFile = %h/.config/systemd/user/admin.env
Restart = no
RestartSec = 1
SendSIGKILL = yes
TimeoutStartSec = 10
TimeoutStopSec = 1
Type = forking

Environment = 'bind_key=tmux -L %i bind-key'
Environment = 'clock_args=-c %h -n clock'
Environment = 'clock_script=dashboard'
Environment = 'documents_dir=%h/.documents'
Environment = 'has_session=tmux -L %i has-session'
Environment = 'kill_window=tmux -L %i kill-window'
Environment = 'move_window=tmux -L %i move-window'
Environment = 'name_script=%h/.scripts/zsh/name.zsh'
Environment = 'new_session=tmux -L %i new-session'
Environment = 'new_window=tmux -L %i new-window'
Environment = 'notes_args=-c $documents_dir -n notes'
Environment = 'org_args=-c $documents_dir -n org'
Environment = 'respawn_window=tmux -L %i respawn-window'
Environment = 'select_window=tmux -L %i select-window'
Environment = 'session_name=%i'
Environment = 'set_option=tmux -L %i set-option'
Environment = 'source_file=tmux -L %i source-file'
Environment = 'unbind_key=tmux -L %i unbind-key'
Environment = 'vim_script=nvim --listen /run/user/1000/nvim-admin-notes -c ${vim_options}'

ExecStart = /bin/zsh -c "tmux -L %i new-session -d -n %i -s %i"

ExecStartPost = /bin/zsh -c %h/.scripts/zsh/tmux/admin.zsh
ExecStartPost = /bin/zsh -c "${new_session} -d -s '%i@1' -t '%i'"
ExecStartPost = /bin/zsh -c "${new_session} -d -s '%i@2' -t '%i'"
ExecStartPost=-/usr/bin/timeout 5 /usr/bin/emacsclient --eval "(ignore-errors (org-agenda-list))"

ExecReload = /bin/zsh -c "${has_session} -t %i"

ExecReload = /bin/zsh -c "${respawn_window} -t '%i:notes' || true"
ExecReload = /bin/zsh -c "${respawn_window} -k -t '%i:clock' || true"
ExecReload = /bin/zsh -c "${respawn_window} -t '%i:mail' || true"
ExecReload = /bin/zsh -c "${respawn_window} -t '%i:org' || true"

[Install]

DefaultInstance = default
WantedBy = default.target
