[Unit]

Description = TV speakers
StopWhenUnneeded = no

BindsTo = jackd.service
Conflicts = vrroom.target

After = alsa_out@nvidia.service
After = alsa_out@amd.service
Wants = alsa_out@nvidia.service
Wants = alsa_out@amd.service

# After = jack_client_watcher@tv_speakers.service
# Wants = jack_client_watcher@tv_speakers.service

Wants = speaker_effects.target
After = speaker_effects.target

After=jack_connection@speakers_effects.out_1\x2ctv_speakers.playback_1.target
After=jack_connection@speakers_effects.out_2\x2ctv_speakers.playback_2.target

Requires=jack_connection@speakers_effects.out_1\x2ctv_speakers.playback_1.target
Requires=jack_connection@speakers_effects.out_2\x2ctv_speakers.playback_2.target
