[Unit]
Description=UPS battery status monitor
Documentation=file://%h/bin/system_monitor

[Service]
Type=oneshot
ExecStart=%h/.local/bin/ups-battery-monitor 192.168.1.6 s00pcan@gmail.com
