
[Unit]
Description=Urxvt Terminal Daemon

[Service]
# Environment=SHELL=/bin/zsh
Environment=RXVT_SOCKET=%t/urxvtd-%H
ExecStart=/usr/bin/urxvtd -q -o -f
ExecStop=/usr/bin/urxvtc -k
KillMode=process
TimeoutStopSec=10
Type=forking

[Install]
WantedBy=default.target

