
[Unit]
Description=Urxvt Terminal Daemon
After=graphical-session.target
Requires=graphical-session.target 

[Service]
# Environment=SHELL=/bin/zsh
Environment=RXVT_SOCKET=%t/urxvtd-%H
RestartSec=1
Restart=always
ExecStart=/usr/bin/urxvtd -q -o -f
# ExecStop=/usr/bin/urxvtc -k
KillMode=process
TimeoutStartSec=10s
TimeoutStopSec=10s
Type=forking

[Install]
WantedBy=default.target

