
[Unit]

Description=Verify transmission-daemon is running under VPN

[Service]
ExecStart = /usr/bin/sudo systemctl restart transmission.service
Type = oneshot
RemainAfterExit = no
