[Unit]
Description=HDFury VRROOM with volume control
After=jackd.service
BindsTo=jackd.service

Requires=jack_volume@vrroom.service
After=jack_volume@vrroom.service

Requires=jack_connection@system.capture_15\x2cvrroom_volume.in_1.service
Requires=jack_connection@system.capture_16\x2cvrroom_volume.in_2.service
Wants=jack_connection@vrroom_volume.out_1\x2cjack_effects.in_1.service
Wants=jack_connection@vrroom_volume.out_2\x2cjack_effects.in_2.service

Conflicts=jack_disconnection@vrroom_volume.out_1\x2cjack_effects.in_1.service
Conflicts=jack_disconnection@vrroom_volume.out_2\x2cjack_effects.in_2.service

After=jack_connection@system.capture_15\x2cvrroom_volume.in_1.service
After=jack_connection@system.capture_16\x2cvrroom_volume.in_2.service
After=jack_connection@vrroom_volume.out_1\x2cjack_effects.in_1.service
After=jack_connection@vrroom_volume.out_2\x2cjack_effects.in_2.service
