[Unit]
Description=VRRoom audio routing
After=vrroom_with_volume.target
Requires=vrroom_with_volume.target

Conflicts=hdmi_input@0.service

Wants=jack_connection@vrroom_volume.out_1\x2clinux_main_volume.in_1.target
Wants=jack_connection@vrroom_volume.out_2\x2clinux_main_volume.in_2.target
After=jack_connection@vrroom_volume.out_1\x2clinux_main_volume.in_1.target
After=jack_connection@vrroom_volume.out_2\x2clinux_main_volume.in_2.target

Conflicts=jack_disconnection@vrroom_volume.out_1\x2clinux_main_volume.in_1.target
Conflicts=jack_disconnection@vrroom_volume.out_1\x2clinux_main_volume.in_2.target
Conflicts=jack_disconnection@vrroom_volume.out_2\x2clinux_main_volume.in_1.target
Conflicts=jack_disconnection@vrroom_volume.out_2\x2clinux_main_volume.in_2.target
