[Unit]

Description=VRRoom JACK Connections
After=jackd.service
BindsTo=jackd.service
StopWhenUnneeded=no

After=jack_connection@system.capture_15\x2cjack_effects.in_1.service
After=jack_connection@system.capture_16\x2cjack_effects.in_2.service
Requires=jack_connection@system.capture_15\x2cjack_effects.in_1.service
Requires=jack_connection@system.capture_16\x2cjack_effects.in_2.service
