
[Unit]
Conflicts=shutdown.target
Description=watch videos reliably
RefuseManualStart=no
RefuseManualStop=yes

[Service]
ExecStart=/home/chris/.scripts/watch_videos.zsh
Type=oneshot

