
[Unit]
Conflicts=shutdown.target
Description=watch videos reliably
RefuseManualStart=no
RefuseManualStop=yes

[Service]
ExecStart=/home/chris/.scripts/video_player/main.zsh
WorkingDirectory=/home/chris/.scripts/video_player/
Type=oneshot

