
[Unit]
Description=Watch videos reliably
RefuseManualStart=no
RefuseManualStop=no

[Timer]
; AccuracySec=30
OnBootSec=20
OnUnitActiveSec=5
; Persistent=true
Unit=watch.service

[Install]
WantedBy=default.target

