[Unit]

BindsTo = hdmi_input@2.service
Conflicts=hdmi_input@0.service
Conflicts=hdmi_input@1.service
Conflicts=hdmi_input@3.service
Description = Windows Gaming PC
Requires = hdmi_input@2.service
