[Unit]
Description=Windows gaming PC GPU power mode: blackout
Documentation=man:ssh(1)
Conflicts=windows-gpu-power-normal.service windows-gpu-power-powersave.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/bin/zsh -c "until nc -vzw 1 192.168.1.194 22 2>/dev/null; do sleep 0.5; done"
ExecStart=/usr/bin/ssh windows-pwsh "nvidia-smi -pl 150"
