[Unit]

BindsTo = hdmi_input@2.service
Conflicts=hdmi_input@0.service
Conflicts=hdmi_input@1.service
Conflicts=hdmi_input@3.service
Description = Windows gaming PC — VRRoom HDMI input 2
Requires = hdmi_input@2.service
