[Unit]
Description=Windows gaming PC CPU power mode: powersave
Documentation=man:ssh(1)
Conflicts=windows-cpu-power-normal.service windows-cpu-power-blackout.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/bin/zsh -c "until nc -vzw 1 192.168.1.194 22 2>/dev/null; do sleep 0.5; done"
ExecStart=/usr/bin/ssh windows-pwsh "powercfg /setacvalueindex SCHEME_BALANCED SUB_PROCESSOR 75b0ae3f-bce0-45a7-8c89-c9611c25e101 3800; powercfg /setacvalueindex SCHEME_BALANCED SUB_PROCESSOR 75b0ae3f-bce0-45a7-8c89-c9611c25e100 2200; powercfg /setacvalueindex SCHEME_BALANCED SUB_PROCESSOR PERFBOOSTMODE 0; powercfg /setactive SCHEME_BALANCED"
ExecStartPost=/usr/bin/ssh windows-pwsh "powercfg /getactivescheme"
