
[Unit]

After = outlet@2.service
BindsTo = outlet@2.service
Description = Wireless microphone
Requires = outlet@2.service
Requires = shure-ad4d.target
