
[Unit]

After = outlet@1.service
After = outlet@3.service
DefaultDependencies = no
Description = Wireless audio channel %i
Requires = outlet@1.service
Requires = satellite-5059.target
Requires = outlet@3.service

[Service]

TimeoutStartSec = 50s
TimeoutStopSec = 1
RestartSec = 1
Restart = no
RemainAfterExit = yes
Type = oneshot

ExecStart = /usr/bin/zsh -ic 'shure_p10t_command SET %i RF_MUTE 0'
ExecStop = /usr/bin/zsh -ic 'shure_p10t_command SET %i RF_MUTE 1'
ExecReload = /usr/bin/zsh -ic '%h/.scripts/zsh/maybe_mute.zsh'

[Install]

WantedBy=default.target
