[Unit]
Description=Wireless audio — P10T and Satellite 5059 active

Requires = wireless-audio@1.service
Requires = satellite-5059.target

Wants = cpu-normal.service
Wants = dante-microphone-out-off.target
