[Unit]
Description=Wireless audio

Requires = wireless-audio@1.service
Requires = satellite-5059.target

Wants = cpu-normal.service
Wants = dante-microphone-out-off.target
