[Unit]

Description = Wireless audio channel %i
DefaultDependencies = no

# After = satellite-5059.target
After = shure-p10t.target
# After = ferrofish-a32.target

Requires = shure-p10t.target
# Requires = satellite-5059.target
# Requires = ferrofish-a32.target

[Service]

TimeoutStartSec = 50s
TimeoutStopSec = 1
RestartSec = 1
Restart = no
RemainAfterExit = yes
Type = oneshot

ExecStart = /usr/bin/zsh -ic 'shure_p10t_command SET %i RF_MUTE 0'
ExecStop = /usr/bin/zsh -ic 'shure_p10t_command SET %i RF_MUTE 1'
ExecReload = /usr/bin/zsh -ic '%h/.scripts/zsh/maybe_mute.zsh'

[Install]

WantedBy=default.target
