[Unit]

After = tmux@work.service
Description = Work session — tmux work session
StopWhenUnneeded = no

Wants = tmux@work.service

[Install]
WantedBy=default.target
