[Unit]
Description=Hide mouse cursor while typing (xbanish)
PartOf=xmonad.target
After=graphical-session.target

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/xbanish
KillMode=mixed
ExecStop=/bin/kill -SIGINT $MAINPID
Restart=no
