
[Unit]

# Requires = xmonad-instance.service

After = sockets.target
After = urxtvtd.service

Description = Graphical session

# Wants = xmonad-instance.service
# Wants = work.target
# Wants = urxvtd.socket
# Wants = xrdb.service


# Wants = tv.target
BindsTo = graphical-session.target
Requires = urxvtd.service
Wants = clock.target
Wants = display-monitors.target
Wants = hhkb.service
Wants = tmux@admin.service
Wants = xmonad.service
