[Unit]

AssertFileIsExecutable = /home/chris/.xmonad/xmonad-x86_64-linux
Description = Build Xmonad
RefuseManualStart = no
RefuseManualStop = no
Wants = xmonad.path

[Service]

ExecStart = /usr/bin/xmonad --recompile
ExecStartPost = /usr/bin/xmonad --restart
RemainAfterExit = no
RestartSec = 2
Type = oneshot

[Install]

WantedBy = graphical-session-pre.target
