
[Unit]

# Requires = xmonad-instance.service

After = sockets.target
After = urxtvtd.service

Description = Graphical session

# Wants = xmonad-instance.service
# Wants = work.target
# Wants = urxvtd.socket
# Wants = xrdb.service


BindsTo = graphical-session.target
Wants = chromium@default.service
Wants = clock.target
Wants = chromium@deafult.service
Wants = hhkb.service
Wants = tmux@admin.service
Requires = urxvtd.service
Wants = display-monitors.target
Wants = xmonad.service
# Wants = tv.target
