
[Unit]
AssertFileIsExecutable=/home/chris/.xmonad/xmonad-x86_64-linux
Description = xmonad instance

[Service]

Type = simple
Restart = always
ExecStart = /usr/bin/xmonad
