[Unit]
AssertFileIsExecutable=%h/.xmonad/xmonad-x86_64-linux
Description = XMonad window manager process
Documentation=man:xmonad(1)

[Service]

Type = simple
Restart = always
ExecStart = /usr/bin/xmonad
