[Unit]
Description=Dante disconnection %i

[Service]
Type=notify
ExecStart=%h/.local/bin/dante-device --mode assert-disconnection %I
Restart=no
NotifyAccess=all
TimeoutStartSec=0
WatchdogSec=0
TimeoutStopSec=10

MemoryAccounting=no
TasksAccounting=no

StandardOutput=journal
StandardError=journal
SyslogIdentifier=dante-disconnection-%I

[Install]
WantedBy=default.target