
[Unit]

# After = nintendo_switch_notify.service
# BindsTo = nintendo_switch_notify.service
# PartOf = nintendo_switch.target
# Wants = nintendo_switch_notify.service

# After = super_nt_notify.service
# BindsTo = super_nt_notify.service
PartOf = super_nt.target
# Wants = super_nt_notify.service

Description = AJA Kona HDMI 3 input
Requires = sound.target basic.target jackd.service
StopWhenUnneeded = no

[Service]

# ExecStart = /usr/bin/alsa_in -c 8 -p 256 -r 48000 -n 16 -j 'nintendo_switch' -d kona_hdmi_3
ExecStart = /usr/bin/alsa_in -c 8 -p 256 -r 48000 -n 16 -j 'super_nt' -d kona_hdmi_3

Restart = always
RestartSec = 2

[Install]

WantedBy = jack_clients.target
