
[Unit]

Description=Windows remote desktop viewer
Requires=sound.target graphical-session.target

[Service]

Nice=10

# ExecStart=/usr/bin/remote-viewer --debug /media/unsorted/more/software/applications/windows10.remote
ExecStartPre = -/usr/bin/zsh -c 'virsh start win10'
ExecStartPre = -/usr/bin/zsh -c 'virsh resume win10'
ExecStart=/usr/bin/spicy -p 5901 -f --spice-shared-dir=/media/unsorted --spice-preferred-compression=off --name=WINDOWS_10_VM --class=WINDOWS_10_VM
ExecStopPost = /usr/bin/zsh -c 'virsh suspend win10'

KillMode=process
Restart=no
RestartSec=6
TimeoutStartSec=20s
TimeoutStopSec=1s

# ExecStartPost = /usr/bin/sleep 0.01
# ExecStartPost = /bin/zsh -ic "wmctrl -t7 -i -r $(xdotool search --onlyvisible --class 'remote-viewer' getwindowpid %@ | xargs -I{} xdotool search --all --pid {} --name 'windows10.remote') || true"
# ExecStartPost = /bin/zsh -ic "wmctrl -t7 -i -r $(xdotool search --onlyvisible --name 'spice display 0:0') || true"
# ExecStartPost = /usr/bin/sleep 0.01
# ExecStartPost = /bin/zsh -ic "wmctrl -t7 -i -r $(xdotool search --onlyvisible --name 'spice') || true"

[Install]
WantedBy = default.target

